[2019-06-07 20:16] dharmjit opened #8 "Git Clone of repo is not working on Windows"
Git Clone is failing due to filename with colons

```error: unable to create file deploy/psp:sa:cassie.yaml: Invalid argument```

[2019-06-10 20:19] allamand opened #10 "PodLastOperation status not quite updated"
With a topology of 3 differents racks we launch a cleanup with casskop plugin

We can see with pod labels that the action is correctly executed on each pods, but the status in CassKop CRD is not corretly updated :

[code]

We should have this kind of status for each of the racks

[code]

the operator get thoses logs

[code]

[2019-06-11 08:30] allamand opened #11 "Need to correct topology section with old good value in case of unauthorized change"
when asking a non-authorized scaledown to 0 the Operator won't execute the action but should also correct the value in the CRD definition to it's old value.

This is not actually the case

The log message are good :

[code]

but the value is not corrected in topology section

[2019-06-11 14:45] allamand opened #16 "Updating Pod ressources seams to have problems"
when changing the cpu limit of cassandra pods, I ran into this error

[code]

[2019-06-11 14:54] #11 closed

[2019-06-13 09:44] hkroger opened #17 "Helm chart tags problems"
The "label" key is twice and labels are indented wrong here: https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/1f38e76fa377f63071b33748628a768795854398/helm/cassandra-operator/templates/service.yaml#L8

I think here the indentation is wrong (4 spaces instead of 2) for labels: https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/1f38e76fa377f63071b33748628a768795854398/he

[2019-06-13 13:05] allamand commented on #17
Hi @hkroger,

for the crd problem on reinstall this must be manage via the --no-hooks flag cf https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/helm/cassandra-operator/readme.md#install-of-the-crd

[2019-06-16 03:53] jsanda opened #20 "Unable to perform cluster operations when node stuck in Pending phase"
I have a 6 node K8S cluster running a single C* center that was deployed from `samples/cassandracluster.yaml`. I scaled my C* cluster up changing `nodesPerRack` from 1 to 2 in my CassandraCluster object.

The first node to be added was stuck in the Pending phase. I took a closer look and found

[code]
The problem is that there is not enough memory on the nodes as indicated in the status. I reduced

[2019-06-16 04:09] cscetbon commented on #20
Yes @jsanda, Kubernetes is stuck until resources become available. Did you try to go back to `nodesPerRack=1` ? I would try this, then reduce resources and scale up again.

[2019-06-16 04:56] jsanda commented on #20
Yes I did. Sorry, I forgot to include that in my initial comment. Unfortunately I have already destroyed the cluster, but I can try to reproduce again tomorrow and see what happens.

[2019-06-16 07:29] allamand commented on #20
Hi John,

To reduce the potentials risks of propagating   change in the cluster, we have actually a mechanism that prevent to update a statefulset if the statefulset is not in a healthy state.

This is also done because at the beginning we wanted the operator to be able to execute only 1 operation at a time.

The problem you encountered here is happening when the first operation can’t be applied c

[2019-06-16 14:31] jsanda commented on #20
Thanks for the detailed explanation @allamand. The latest desired state that has reduced memory limit would bring the statefulset back into a healthy state. On that basis it seems like the operator should try to apply the changes.

Can you elaborate on this?

[2019-06-16 19:11] allamand commented on #20
Hi,

For now the operator doesn’t know yet about a change that could bring him to an healthy state or not.

Casskop has a poddisruptionbudget that also will prevent that we had 2 cassandra nodes down at the same time.

If we already have one cassandra node down for any reason, the operator will refuse to update a statefulset because that mean that we will have another cassandra node down when perf

[2019-06-16 23:02] cscetbon commented on #20
@jsanda Here is the code of the two cases Sebastien talked about :
- https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/pkg/controller/cassandracluster/reconcile.go#L359-L372
- https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/pkg/controller/cassandracluster/statefulset.go#L161-L172

Hope it'll help you understand what he explained previously

[2019-06-17 04:11] jsanda commented on #20
@cscetbon thanks for the links! I definitely plan to start digging into the code, so the references are appreciated.

Please feel free to close out this ticket since this is known, expected behavior. If it is not documented though, then it would be good to add this to the docs.

Cheers

John

[2019-06-18 07:32] allamand commented on #20
@jsanda just had this problem, i'll try to propose workaround in a PR

[2019-06-19 09:55] allamand opened #21 "Can't correctly check Decommissioned Node"
In some cases when Decommissioning a Node CassKop may not be able to find that the Node is decommissionned, we get this error:

[code]

If we check logs for corresponding Cassandra node:

[code]

In previous logs, we see that we have lost temporarylly the connection with the node

[code]

[2019-06-19 11:47] cscetbon commented on #21
Any way to reproduce that issue ?

I wonder if 2 decommissions operations are running at once or if there is a timing issue `No local state, state is in silent shutdown, or node hasn't joined, not announcing shutdown`

[2019-06-20 00:47] cscetbon commented on #21
@allamand do you confirm it was a false positive ?

[2019-06-20 00:49] #17 closed

[2019-06-20 01:07] cscetbon commented on #16
@allamand I just tried and did not have any issue https://pastebin.com/nLMsDYi1
Any particular change ? Wonder if that was not an issue with a new code change you've tested ? When I look at the current code I think the issue was at https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/2c08f6f609d4ee0a90a7165cb4d52e100e67212e/pkg/controller/cassandracluster/reconcile.go#L426

But why ? a

[2019-06-20 06:40] dharmjit opened #23 "Getting Error pod has unbound immediate PersistentVolumeClaims on first pod creation attemt on kubeadm-dind cluster"
**Kubernetes Version**

```Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T20:56:12Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}```

**Helm Version**

[code]

With a PV statically provisioned as below

[code]
** CRD Yaml **

[code]

The Pod created first ti

[2019-06-20 06:46] dharmjit opened #24 "Permission Error - Has no permission to create directory /var/lib/cassandra/data Heap"
**Kubernetes Version**

```Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T20:56:12Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}```

**Helm Version**

[code]

With a PV statically provisioned as below

[code]
** CRD Yaml **

[code]
The pod creation goes in

[2019-06-20 06:50] allamand commented on #24
ouch.. never get this one.. This is the whole output of the Cassandra Pod ?
did you see something useful using `kubectl get events`?

[2019-06-20 06:52] allamand commented on #21
I was updating the state machine which brings to start several decommission in //.
I wonder If we could change a little the test so that we can know that this node was decommissioned?

[2019-06-20 06:53] allamand commented on #8
Fix by  #9

[2019-06-20 06:53] #8 closed

[2019-06-20 06:55] allamand commented on #16
didn't reproduce neither on my side.. I'll close for now

[2019-06-20 06:55] #16 closed

[2019-06-20 06:57] allamand commented on #23
I wonder if it is not the normal steps. when you say it fails, what did you see exactly ?
Normally before k8s can sheduled the Pod, it must get the PVC. So this message may be normal.

how long it tooks between the 2 steps ?

[2019-06-20 08:56] allamand commented on #23
If you specify `spec.dataCapacity` you need to uses a storageclass. If the `spec.dataStorageClass`is commented it will uses the default storage class, but if no sotrageclass is specified It won't works

[2019-06-20 22:25] cscetbon commented on #23
Sebastien meant "if it's commented **out** the default storage class will be used"

[2019-06-20 23:02] cscetbon commented on #24
@dharmjit are you working in minikube ? I saw this issue with empty directory but it seems it was due to the use of the alpha storage class though https://github.com/kubernetes/minikube/issues/956. What's your default storage class ?

[2019-06-20 23:04] cscetbon commented on #21
We can check if the node is the ring before trying to decommission it and flag the operation as a success if it's not ?

[2019-06-20 23:06] cscetbon commented on #10
@allamand is it something that happens 100% of the time ?

[2019-06-21 09:04] allamand commented on #10
yes, by the way the labels on pods semas to be correctly applied, it's just the status in the CRD which is not correct

[2019-06-21 09:05] allamand commented on #20
@jsanda I've tried a troubleshooting section in a PR to deal with this. It is a proposal to implement the new parameter to allow to recover. wdyt ? https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/27

[2019-06-21 09:06] allamand commented on #21
I think that can be a good solution

[2019-06-21 09:08] allamand commented on #23
no ;) it you specify spec.DataStorageClass, it will uses the one you specified. If you comment or remove it, it will uses the Kubernetes default storageclass (if available)

[2019-06-24 02:35] xautjzd commented on #23
I have the same problem,  is the pv dynamic created? @allamand

[2019-06-24 03:25] jsanda commented on #20
@allamand I need to look through the doc some more, but this still feels like a situation that the operator should (ideally) be able to handle gracefully.

Keep in mind that I already took manual steps to address the problem. I reduced the memory limits. The change could not be applied though because of the `Pending` status.

I wouldn't think that the pod disruption budget would be a factor here b

[2019-06-24 07:14] allamand commented on #24
This may be because you don't have storageclass define in your cluster. If you are using local-storage (like us) you may need to install & configure the local static provisionner : https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md

[2019-06-24 07:16] allamand commented on #23
@xautjzd we rely on the local static provisioner to create the pv, but it need to be installed & configure prior to uses CassKop. cf my other comment: https://github.com/Orange-OpenSource/cassandra-k8s-operator/issues/24#issuecomment-504888441

[2019-06-24 07:20] allamand commented on #20
@jsanda by default when doing an operation, CassKop will prevent you to do another one (such as applying new change with reduced memory).
In this PR https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/27/files#diff-a6b281ad9056640c3449d98529b90c6eR81 I add a new paramerer badly named (for now) forceNewOperation which goal is to be coupled with your change (like memory reduce) to recov

[2019-06-24 08:17] allamand commented on #24
You can also look at https://github.com/rancher/local-path-provisioner

[2019-06-25 01:27] xautjzd opened #28 "Configmap have not been created"
When i deployed cassandracluster using [spec](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/samples/cassandracluster.yaml) in the REAME, i found canssandra pod status is always `ContainerCreating`, i looked up kubelet logs,there is an error: configmap `cassandra-configmap-v1` is not found.

kubernetes version:

[code]
canssandra cluster pod:

[code]

[2019-06-25 01:48] xautjzd commented on #28
@allamand when i removed configmap `cassandra-configmap-v1`, it can start correctly. So why need config an configmap?

[2019-06-26 18:15] jsanda opened #30 "Building from source fails when go modules is enabled"
I had been struggling to build from source. `make build` fails with:

[code]

When I scrolled up in the output I noticed:

`go: github.com/peterbourgon/diskv@v0.0.0-20190425080511-0be1b92a6df0: go.mod has post-v0 module path "github.com/peterbourgon/diskv/v3" at revision 0be1b92a6df0`

I am able to avoid this problem by explicitly disabling go modules:

[code]

I played around with trying to get t

[2019-06-26 19:55] cscetbon commented on #30
What about `make docker-build` ? There were probably changes that are not supported by the version you have for some reason

[2019-06-27 02:36] jsanda commented on #30
`make docker-build` did work. My goal was to be able run some of the e2e tests, and I have had some success!

[2019-06-27 13:10] allamand commented on #30
You are right, we did not support go modules at this time, your points 1 and 2 need to be treated.

[2019-06-27 13:14] allamand commented on #28
@xautjzd the configmap is used to configure Cassandra with other parameters that ones that are ship by default in the docker Image. It is optional and you may not uses it at all.
An example of ConfigMap can be found here https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/samples/cassandra-configmap-v1.yaml and has the crd instance that define your cluster you need to manually

[2019-06-27 13:14] allamand commented on #28
I close the issue since it is normal behaviour, but feel free to re-open if you have mode questions, or joins us on slack :)

[2019-06-27 13:14] #28 closed

[2019-06-28 11:55] dharmjit commented on #23
Thanks @allamand @cscetbon. I used https://github.com/rancher/local-path-provisioner and it works like charm. Closing the issue.

[2019-06-28 11:55] #23 closed

[2019-06-28 11:56] dharmjit commented on #24
Thanks @allamand @cscetbon. I used https://github.com/rancher/local-path-provisioner and it works like charm. Closing the issue.

[2019-06-28 11:56] #24 closed

[2019-06-28 13:51] allamand opened #34 "add structural OpenAPI v3.0 validation schema to CassandraCluster CRD"
CustomResources traditionally store arbitrary JSON (next to apiVersion, kind and metadata, which is validated by the API server implicitly). With OpenAPI v3.0 validation a schema can be specified, which is validated during creation and updates

With apiextensions.k8s.io/v1 the definition of a structural schema will be mandatory for CustomResourceDefinitions

reference : https://kubernetes.io/docs/

[2019-07-03 03:57] jsanda opened #38 "Provide better support for configuration updates"
When you the `configMapName` in the spec of a `CassandraCluster`, the following key things happen (assume a single DC and single rack):

* The StatefulSet is scaled down
* The `configMap` volume is updated
* The StatefulSet is scaled back up

If you are using the default Cassandra image, [cassandra-image](https://github.com/Orange-OpenSource/cassandra-image), then `cassandra.yaml` and `jvm.options

[2019-07-03 08:05] allamand commented on #38
Hi @jsanda,

You are right, it would be great if the Operator can adapt to any Cassandra image, which was not the approach we used in the first time, but I see that guys from [sky-uk](https://github.com/sky-uk/cassandra-operator) did that into their operator it could be useful to see how they done it.

Meanwhile we used to have the ConfigMap surcharge the whole /etc/cassandra/* files in the first,

[2019-07-03 10:21] allamand commented on #38
There are also some parameters that can be deployed specified differently in racks for instance the NumTokens you spoke about:
[code]

[2019-07-04 02:07] cscetbon commented on #21
see https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/39

[2019-07-04 14:55] allamand commented on #10
I've been able to reproduce this activating networkpolicies and disabling the call flow between casskop and jolokia. In this case, there is a communication error, but CassKop status is not updated.
If I relaunch the operation, the same podname will be added in the `pods:` of the status in double:

[code]

this is the CassKop logs:

[code]

If it can't update status, then it would need to retry wit

[2019-07-04 14:59] allamand commented on #10
also when mooving pod names from sections pods:, podsOK:, podsKO: it is not correctly removed from other. example:

[code]

[2019-07-04 15:21] allamand commented on #38
@jsanda If we want to be able to worj with any cassandra image, I thing we need to move the custom part of our current cassandra-image in a init-container. wdyt ?

[2019-07-05 07:39] allamand opened #40 "Migrate on use of go modules"
We want to use go modules instead of go dep vendoring

[2019-07-05 07:40] allamand commented on #30
see #40 for point 2

[2019-07-05 07:51] allamand opened #41 "Update the service"
Actually, we have 1 service for each dc defined in the CassandraCluster.

We want to change to have only one service for the entire cluster.

Application clients will needs do specify on which Cassandra DC they want to connect when establishing the connection.

[2019-07-05 18:07] jsanda commented on #41
@allamand I would be happy to work on this. I can spend some time on it over the weekend.

[2019-07-05 18:17] jsanda commented on #38
Are you suggesting this so that the config changes could then be applied to other images? It is an improvement but only solves part of the problem.

I think there should be a ConfigMap per Cassandra pod. There could be circumstances in which you want to apply config change to only a subset of C* nodes, possibly even one. For example maybe there is a data imbalance with a set of replicas having som

[2019-07-05 19:29] allamand commented on #41
yes thanks :)

[2019-07-05 19:33] allamand commented on #38
for your last point, it can already be done today with the pre_run.sh script from the ConfigMap. Please take a look at https://orange-opensource.github.io/cassandra-k8s-operator/slides/index.html?slides=Slides-CassKop-demo.md#28

The idea of the init-container, would just to be able to inject our custom run.sh compliant with CassKop to any cassandra image

[2019-07-05 22:00] cscetbon commented on #30
I propose we close that issue as there is already one to support Go modules. this way we even won't have to add it to the documentation. There is also still a way to build using our docker images

[2019-07-05 22:09] cscetbon commented on #38
@jsanda I really don't agree with having one ConfigMap per pod... We can already apply changes to part of the nodes and we can easily update the way we apply changes to make it simpler to apply to one or a group of nodes (like we do in the topology). The goal is to have one configuration file that we can check to see the current configuration. You're right, we could want to test one image with an

[2019-07-08 02:33] jsanda commented on #38
@allamand thanks for the reference. That is neat way to update specific pods :) Can you explain `echo "update param"` part?

@cscetbon thanks for the explanation! Albeit different from what I had envisioned, there is already a way for handling cluster-wide and per-node config updates.

I appreciate all the feedback. It helps give me a better context when studying the code.

[2019-07-08 08:16] allamand commented on #38
This is just an example, the script just log what we want and this goes on the standard output of the Cassandra Pod

To summarize:
- for any configuration changes, we can uses the pre_run.sh script to update all or just one Cassandra node.
- When applying a new DockerImage, we can play with the rollingUpdatePartition of each statefulset in order to makes the change to only 1 or more Cassandra node

[2019-07-09 03:08] jsanda commented on #41
@allamand should there be a single monitoring service for the entire cluster as well?

[2019-07-09 12:22] allamand commented on #41
@jsanda yes for monitoring too

[2019-07-09 12:33] #30 closed

[2019-07-09 13:35] jsanda commented on #41
This would be done by using a `DCAwareRoundRobinPolicy` for the `LoadBalaningPolicy` right?

[2019-07-10 19:44] jsanda opened #44 "Do not expose thrift port by default"
The CassandraCluster service expose the thrift port in additional to the CQL port. Thrift is disabled by default in Cassandra 3.11.4 and will altogether be removed in Cassandra 4.0. The thrift port should not be exposed, at least not by default.

[2019-07-11 08:44] allamand commented on #44
I think I have removed them in another PR

Sébastien

Le 10 juil. 2019 à 21:44, John Sanda <notifications@github.com<mailto:notifications@github.com>> a écrit :

The CassandraCluster service expose the thrift port in additional to the CQL port. Thrift is disabled by default in Cassandra 3.11.4 and will altogether be removed in Cassandra 4.0. The thrift port should not be exposed, at least not by d

[2019-07-11 12:27] mackwong opened #45 "the function name "isStatefulSetReady" is confusing"
https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/b29202cb98191a7af01f703273a90a5e089b8b07/pkg/controller/cassandracluster/statefulset.go#L256

This function name “ isStatefulSetReady” is confusing.
According to my understanding, he should be "isStatefulSetUnReady".

[2019-07-11 12:37] allamand commented on #45
Hi @mackwong you're right :) thanks!

[2019-07-11 13:49] jsanda commented on #44
@allamand thanks for the reference!

Since it is a headless service, the ports are not used. Considering this, does it make sense for the service to expose them? I am not sure what the standard practice is for headless services with respect to ports.

As it stands right now, if a cluster uses a non-default value for one of the ports, the service ports will be incorrect.

[2019-07-11 18:11] jsanda opened #47 "Add a docs label"
Can we have a docs label?

It would make it easier to find and sort docs related issues.

Thanks

John

[2019-07-11 18:15] jsanda opened #48 "[docs] Update dev guide with steps for running operator from IDE"
The [development guide] says that the operator can be run from your IDE, but it only mentions environment variables that need to be set.

VS Code and GoLand are two popular, commonly used IDEs. I personally use GoLand. It would be great to have some more detailed instructions on IDE integration.

Thanks

John

[2019-07-11 18:22] jsanda opened #49 "[docs] Update dev guide with steps for running operator directly with Go binary"
The [development guide](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/documentation/development.md) says that the operator can be run directly from the Go binary, but no instructions are provided.

It would be great to provide step-by-step instructions on how to do this.

Thanks

John

[2019-07-11 18:33] allamand commented on #47
done

[2019-07-11 18:33] #47 closed

[2019-07-12 08:10] allamand opened #51 "Configure .circleci/config.yaml in order to allow build from tags"

[2019-07-12 09:23] allamand opened #52 "Publish Kubernetes events for each action done in the Operator"
A human operator may follow what happen on the cluster just by monitoring the events at kubernetes level

[2019-07-15 11:26] allamand commented on #20
@jsanda normally this is deal with #27.
See https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/documentation/troubleshooting.md#operator-cant-perform-the-action for detailed example

[2019-07-15 11:31] allamand commented on #44
@jsanda I removed ports from headless service and from the pod generated by the statefulset, so ports may not be exposed at all, I think this is sufficient.

But you are right, for now, the ports must match the one exposed by the docker image, for now this is done with our associate cassandra base image, and we may rely on an InitContainer to configure that in futur to adapt from "any" cassandra b

[2019-07-16 15:54] #45 closed

[2019-07-16 15:58] allamand commented on #51
This is partly done with a worflow similar to what is describe in this blog post: https://circleci.com/blog/simplifying-your-ci-cd-build-pipeline-to-gke-with-circleci-orbs/

this makes uses of a script or manual commands to repush the PR in a specific branche `trigering-integration`. since the commit sha is the same, it trigger the CI and updates the original PR status.

We just need to manually c

[2019-07-17 12:09] cscetbon commented on #21
@allamand you can close that issue.

[2019-07-17 12:22] allamand commented on #21
Yes Fix in #39

[2019-07-17 12:22] #21 closed

[2019-07-19 00:01] cscetbon commented on #10
@allamand here is what I get when I try to cleanup 2 racks one at a time https://pastebin.com/nC9yxRTJ

Same if I try all of them using `k casskop cleanup --prefix cassandra-e2e-dc1`. If you can reproduce it and provide the operator's log that'd be great

please provide a file (pastebin or gist) to apply such network policies

[2019-07-19 00:33] jsanda commented on #49
PR #50 has been merged so I am closing this.

[2019-07-19 00:33] #49 closed

[2019-07-19 00:37] cscetbon commented on #44
@jsanda @allamand, we need those ports to be exposed in the headless service when we use Istio. That's how istio figures out what ports need to be proxyfied. In short, it doesn't hurt to have them in the headless service and help us when we use istio. Otherwise we would have to guess if istio is enabled and expose them only in that case but I don't feel the effort worths it.

[2019-07-19 00:39] cscetbon commented on #38
@jsanda no problem. Happy to help !

[2019-07-19 01:06] jsanda opened #66 "Setting pod labels does not trigger operations"
I followed the instructions in the [operations guide](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/documentation/operations.md#operationcleanup) to run `cleanup` on my nodes, but nothing happens.

Here is my cluster manifest:

[code]

I set the pod labels with:

[code]

Here is my cluster status which never changes:

[code]
The behavior is the same regardless of the oper

[2019-07-19 02:27] cscetbon commented on #66
@jsanda see https://github.com/Orange-OpenSource/cassandra-k8s-operator/issues/10#issuecomment-513038288. Use the plugin to do so and there is no reason it does not work. I just tested an hour ago. You gonna need Python 3.6+ in order to use it and have the script in your PATH. It can also take time for the operator to see that labels are on pods and that it should do a cleanup. Take a look at the

[2019-07-19 02:43] jsanda commented on #66
Thanks for the info @cscetbon. I will use the plugin and report back my results. The operations guide says:

Is it a docs issues? Because I am almost certain nothing happened after setting labels manually. As much as 10 minutes passed before I tried making other changes.

With respect to debug logging, I have been running the operator locally. Will I get debug logs if I do:

[code]

[2019-07-19 02:45] jsanda commented on #44
@cscetbon thanks for the explanation. Currently those ports are hard coded. Shouldn't the ports values come the cluster configuration, i.e., what is defined in cassandra.yaml?

[2019-07-19 02:46] cscetbon opened #67 "Set spec.resources.limits to spec.resources.requests when not defined"
If **spec.resources.limits** is not set, cassandra pods can consume far more resources than expected and cause issues. It's easy to test it locally in a dind cluster and see that when a second node joins CPU sky rocks. The goal of this ticket is to set it to **spec.resources.requests** if it's not defined to avoid such a situation.

[2019-07-19 02:57] Orange-cscetbon commented on #44
@jsanda I don't think so. In containers you don't really need to configure those ports to have different values as listeners are not really listening on those ports and port forwarding is intensively used automatically by kubernetes/docker. There are no real reasons to use different ports IMHO.

[2019-07-19 03:32] jsanda commented on #66
It looks like this is the culprit (from the operator log):

`INFO[0029] POD_NAME is not defined and is mandatory`

This looks to be specific to running the operator local. I will submit a PR for this.

[2019-07-19 04:10] jsanda commented on #67
What if `spec.resources.requests` is not set? I am currently using a GKE cluster and there is a LimitRange that specifies defaults for cpu, but there are no defaults for memory. I need to do some more reading, but I am inclined to say that in absence of anything else, memory defaults will come from cgroups.

[2019-07-19 09:27] allamand commented on #66
you are right, this also needs to be set when using an IDE such as goland or vscode. note sure it is documented..

[2019-07-19 13:47] jsanda commented on #41
Are there are any other changes needed for this PR? If not, do you want me to squash the commits?

[2019-07-19 16:00] allamand opened #69 "Improve change detection on monitored objects"
We currently don't checks if all existings objects may have changed before updating thems.

We are doing it for statefulset and also prevent some changes on statefulsets for many reasons (ongiing disruptions, onging scaledown...).

The way we check is statefulset needs to be updated, may be error prone, and guys from Banzaicloud release a tool to help with that.

This issue is to see if their libr

[2019-07-19 23:59] cscetbon commented on #69
@allamand I really like it. It's definitely an issue and I had to fix it in multiple places. If we have a library that handles it for us 🎉

[2019-07-20 00:04] Orange-cscetbon commented on #67
I don't think we should ever accept a`CassandraCluster` object where spec.resources.requests is not set. @allamand wdyt ? If it's not the case we should definitely add it in the current code change I'm asking.

[2019-07-20 03:16] jsanda commented on #67
I will work on this. Can someone assign it to me?

[2019-07-20 03:25] jsanda opened #71 "JMX operations fail when operator runs locally"
If you run the operator locally, e.g., `make run`, then you cannot run operations on the cluster as described in the [operations guide](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/documentation/operations.md#operationcleanup).

The operator makes JMX calls over HTTP using [go_jolokia](https://github.com/s8sg/go_jolokia). When the operator runs locally, it is on a differ

[2019-07-20 04:15] jsanda commented on #71
I am guessing that there is **not** an easy way to do. Unless there is an easy, I am fine with just documenting this as a limitation of running the operator locally and then closing this issue.

[2019-07-20 11:52] allamand commented on #71
Hi John,

What I used to do is to use telepresence in order to make a vpn like between my laptop and a remote kubernetes.

Then I’m able to rein locally the operator or within an IDE and it can communicate to jmx to other pod thanks to the VPN.

I talk about my t in this blog post: https://link.medium.com/ltsjltGztY maybe we can add an example for that in the project documentation.

For me it reso

[2019-07-21 03:14] cscetbon commented on #67
@jsanda let us know if you need any guiding.

[2019-07-21 03:18] cscetbon commented on #66
@jsanda do you think it still needs some documentation changes or are we good to close ?

[2019-07-21 03:22] cscetbon commented on #20
The code has been merged. I close this issue.

[2019-07-21 03:23] #20 closed

[2019-07-21 03:26] jsanda commented on #66
I think it's good to go. Thanks!

[2019-07-21 03:26] #66 closed

[2019-07-21 04:12] cscetbon commented on #71
Yeah I think we can add a chapter in [development.md](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/documentation/development.md). That's definitely a limitation we met in the past and why Sebastien wrote a post about it ;)

[2019-07-23 12:20] allamand opened #74 "[plugin] add unit-tests and e2e tests"
We should also add some unit-tests for the plugin
We should also add some tests implying the pluging in the e2e tests

[2019-07-23 14:07] allamand opened #75 "Upgrade to operator-sdk 0.9.0 or last recent"
We want to upgrade to new Operator-sdk version.

This will allows us also to moove to go modules since new version is compatible with thems.

This can be useful to also migrate CassKop to go modules in the same time

See changeLog of operator-sdk:
https://github.com/operator-framework/operator-sdk/releases

[2019-07-23 20:22] allamand opened #77 "Issue with plugin on Katacoda"
When deploying the plugin on Katacoda we have some issues :

[code]

to reproduce, execute the plugin on katakoda: https://www.katacoda.com/orange/scenarios/casskop

[2019-07-24 03:54] jsanda opened #79 "[RFE] Make executing operations topology aware"
During a recent demo, there was some discussion of [cstar](https://github.com/spotify/cstar) and that maybe it could be used by casskop. The purpose of this ticket is threefold:

* Provide a brief introduction to cstar
* Explain the topology awareness feature of cstar
* Explain why cstar is **not** a good fit for casskop

cstar  is a stand alone, Cassandra orchestration tool that runs from a contr

[2019-07-24 20:38] jsanda commented on #67
@cscetbon can this be closed?

[2019-07-24 21:31] jsanda commented on #41
@allamand can this be closed?

[2019-07-24 21:49] #67 closed

[2019-07-24 21:50] cscetbon commented on #71
@jsanda isn't that one done ?

[2019-07-24 21:51] cscetbon commented on #77
Fixed in #78

[2019-07-24 21:51] #77 closed

[2019-07-24 21:52] #41 closed

[2019-07-24 21:57] Orange-cscetbon commented on #44
I think so

[2019-07-24 21:57] #44 closed

[2019-07-24 22:42] #71 closed

[2019-07-30 01:17] cscetbon commented on #79
Thanks @jsanda for the introduction of c-start. I looked into it in the past and used it a bit. The good thing about the operator is that it knows about the cluster as the CRD was used to create it. And like you said we would have to update it to avoid ssh access and add a REST API or a way to communicate to trigger operations, to check status and read read results from it. I agree that it would m

[2019-07-30 03:30] cscetbon opened #84 "Solutions for backups/restores"
I'd like us to start looking at backup solutions that could be implemented in our operator.

In its operator, [InstaClustr](https://github.com/instaclustr/cassandra-operator.git) has created a controller and a tool in order to manage backup/restore. We could try to use that solution (Java code) and have a mix of code in the current repository, or port it to Go in order for the current operator to

[2019-07-30 15:48] jsanda commented on #79
@cscetbon operations are already performed in parallel. For example, I have a 3 node cluster in one rack. I added data to the cluster using [tlp-stress](https://github.com/thelastpickle/tlp-stress). I then added a fourth node. After the fourth node finished bootstrapping, I scheduled a cleanup operation with:

[code]

Cleanup was running in parallel across all nodes. In this particular case with a

[2019-07-30 17:52] cscetbon commented on #79
Yeah you’re right. Pod operations are different as they’re not seen as clusterwide. They’re not rackaware etc... it’s up to us though to sey the labels at the right spots with our plugin. There would probably be some benefit in making the plugin more intelligent, to allow it in some cases to decide by itself. That’s what I’ve done for instance last time by adding checks around triggering new opera

[2019-07-30 18:10] jsanda commented on #79
I think that the logic needs to be in the operator. What if the user is setting the labels directly with kubectl or some automation like ansible rather than using the plugin? Or how about a scenario in which another k8s operator is setting the labels.

I partially agree in so far as it should be computed on what nodes to trigger the operation and when. It still makes sense to provide ways for the

[2019-08-02 03:07] jsanda commented on #34
I can spend some time on this over the weekend.

[2019-08-02 03:42] jsanda opened #85 "[RFE] Provide a way to notify client applications of topology changes"
Client applications refer to pods running within the same Kubernetes cluster. Those pods could be managed by a deployment or some other operator for example.

Topology changes could refer to:

* cluster created
* data center added
* data center removed
* rack added
* rack removed
* (probably more)

For now I want to focus on creating a cluster. I will talk more about adding data centers in a separ

[2019-08-02 04:17] jsanda opened #86 "[RFE] Provide better support for adding data centers"
It is already possibly to add a data center to an existing `CassandraCluster` object. CassKop will deploy new Cassandra nodes. While this is obviously a necessary step for adding a data center, it is not sufficient.

Some steps need to be done by client applications, which CassKop will not manage. See #85 for discussion on notifying client applications of topology changes.

For now, let's assume c

[2019-08-02 13:59] cscetbon commented on #34
It’s be great. Thanks @jsanda

[2019-08-04 15:38] cscetbon commented on #85
I guess a simple feature as adding a bus for the different events happening at the operator level would be enough. The operator would accept some keys to know which bus and filters to use/apply and a secret for the authentication and would start sending all the relevant events to that endpoint. This way we're not tied to any sort of component.

We would need to add whenever an operation is trigger

[2019-08-04 15:44] cscetbon commented on #86
@jsanda we don't have any `cassandra-rackdc.properties` as we use GPFS snitch. Applications that use the native protocol can also subscribe to notifications liker schema change, cluster changes etc..

[2019-08-04 17:45] jsanda commented on #86
`GossipingPropertyFileSnitch` uses the `cassandra-rackdc.properties` file. If the file is not found start up with fail with an error like this:

[code]

Yes that is true; however, I am not referring to client applications here. And by client I mean a client of the Cassandra cluster. Reaper is just one access and maybe not the best. Reaper will require JMX access, but it does not require access ove

[2019-08-04 17:48] jsanda commented on #85
As I mentioned in #86,

I think it would be good to consider using open standards, like cloud events. I think a great starting point would be having the ability to specify an http endpoint as part of a CassandraCluster. The operator would then send notifications to that endpoint for interesting events. This would minimize external dependencies for the operator while still providing plenty of flexi

[2019-08-04 19:11] cscetbon commented on #85
I would need to look more into `knative event` which I really know nothing about. I was looking for a generic way to send events in order to not limit the type of the receiver. I thought about Kafka cause using kafka-connect it can actually sink out to a lot of targets. It seems knative can do the same. I'm definitely open to hear about and find the best choice.

Yes

I think so. Istio handles enc

[2019-08-04 19:27] cscetbon commented on #86
nvm, don't know why but I thought I read `cassandra-topology.properties` file, the one used by `PropertyFileSnitch`. Yes this file is needed but will never be updated as it contains the information for the local node only and a node will never be moved to another rack.

That's the one you link the current on to.

[2019-08-05 04:06] jsanda commented on #86
I went back and read my initial comment. Not sure why I had updating `cassandra-rackdc.properties` as a step. The rest of the steps are still applicable, and some of them, like disabling repairs and changing replication, will need to be performed by other actors.

Implementing some form of notifications and/or workflow and performing the rebuilds would make the use case of adding a DC a lot more r

[2019-08-06 14:49] devdattakulkarni commented on #84
+1 to using another Operator like Velero or Stash over creating a new controller.

[2019-08-06 15:06] devdattakulkarni opened #89 "Custom Resource Spec property names and kube-openapi"
Looking through the Custom Resource type definitions, I found following properties that may not be adhering to kube-openapi requirements.

CassandraClusterSpec.GCStdout
CassandraClusterSpec.UnlockNextOperation
PodLastOperation.Name
CassandraLastAction.Name
CassandraClusterStatus.SeedList
CPUAndMem.CPU
Topology.DC

Kube OpenAPI name validation rules expect the field name in Go code and field name i

[2019-08-06 15:34] jsanda commented on #89
@devdattakulkarni thanks for point this out. I will address this in #87.

[2019-08-09 02:58] eedgar opened #91 "How do I annotate a pod?"
I am trying to figure out how to best add annotations to a pod so that sumologic or datadog will auto discover them.

I am not seeing any examples on how to add custom annotations.

[2019-08-09 03:47] jsanda commented on #91
Hi @eedgar

CassKop currently does not provide a way to add annotations or other fields to pods. The closest thing right now would be rack labels which is to generate affinity and anti-affinity for scheduling pods on specific nodes or not scheduling pods on specific nodes. Coincidentally I am working on a blog post on this topic :)

Your best bet, at least for now, might be to directly add the ann

[2019-08-09 10:44] allamand commented on #91
At this time we can’t add annotations on pods but we can add labels. Every labels put in the CassandraCluster object will be set on all objects created by casskop.

We could do same thing to annotation if needed.

Sébastien

_________________________________________________________________________________________________________________________

Ce message et ses pieces jointes peuvent contenir de

[2019-08-09 19:00] eedgar commented on #91
Here is an example that requires annotations to be set on the pod.
https://git.app.uib.no/caleno/helm-charts/tree/6a9d3752a8159417889e9225879df4b7cde2ec3f/stable/sumologic-fluentd

annotations:
  sumologic.com/format: "text"
  sumologic.com/sourceCategory: "mywebsite/nginx"
  sumologic.com/sourceName: "mywebsite_nginx"
  ad.datadoghq.com/<CONTAINER_IDENTIFIER>.check_names: '[<CHECK_NAME>]'
  ad.da

[2019-08-09 19:03] eedgar commented on #91
Would it make sense to add a template section that are just applied to the nodes?

[2019-08-09 20:01] eedgar commented on #91
https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md . I think this operator has a pod category that makes sense for things that should be applied to pods..
If pods are the only thing this operator directly creates then I can see applying the top level to every created object.

[2019-08-09 23:59] cscetbon commented on #91
@eedgar, if you look at https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/samples/cassandracluster-demo.yaml, it would make more sense to add a new entry called annotations in `spec` which should be an easy task for someone new to the code.
Like other properties it should be also possible to overwrite at the [dc](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blo

[2019-08-12 14:09] eedgar commented on #91
https://asciinema.org/a/94027 . This example from daemonsets is what I was thinking would make sense here.

[2019-08-21 10:35] mackwong opened #96 "the status.phase is always Pending after deleting a pod"
deploy a cassandra cluster, and the cassandracluster is:
[code]
 I delete a pod:
[code]
after a while, the cassandracluster becomes like this, and it doesn't change anymore.
[code]

the status.phase is  Pending.

[2019-08-26 13:59] jsanda opened #98 "The rack status does not get updated some times when running cleanup"
I discovered and discussed this issue in #90.

Here are the steps to reproduce the problem as implemented in my test:

* Create a two node cluster spread across two racks. I think that the number of racks is irrelevant though.
* Wait for cluster to be ready
* Set the labels to execute a cleanup on both Cassandra nodes.

Here is the code from the test function for setting the labels:

[code]

Accor

[2019-08-26 14:23] allamand commented on #98
Hi John, I think this is relative to this bug : https://github.com/Orange-OpenSource/cassandra-k8s-operator/issues/10

[2019-08-27 10:16] allamand commented on #96
Hi @mackwong, thanks for reporting.

Do you have access to Operator logs and to kubernetes events while this happened ?
did the deleted pod has been recreated ?

thanks

[2019-08-27 10:22] allamand commented on #91
Hi @eedgar, like @cscetbon said, it would be easy to add an annotation field in the spec field of the CassandraCluster definition that would be override at dc/rack level.

[2019-08-27 15:57] gamer22026 opened #100 "Helm chart debug enable doesn't work"
The values.yaml specifies
[code]
but the deployment.yaml lists
[code]

Maybe change to `debugEnable: false` in values.yaml and `{{- if .Values.debugEnable }}` in deployment.yaml to be consistent (there is an rbacEnable setting, for instance)

[2019-08-28 06:11] mackwong commented on #96
[code]
[code]

[2019-08-28 06:19] mackwong commented on #96
I think the reason is that the `lastClusterActionStatus` is always **Done** during pod is recreating, so the status.Phase can not be updated because of:
https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/73fd24e4d80d853a640defa42b91345cb29847ba/pkg/controller/cassandracluster/reconcile.go#L527

[2019-09-01 14:03] #75 closed

[2019-09-01 14:13] Orange-cscetbon commented on #98
Duplicate of #10

[2019-09-01 14:13] #98 closed

[2019-09-01 17:26] cscetbon commented on #10
@jsanda @allamand I finally was able to reproduce it. I'll fix it this week.

[2019-09-02 21:59] cscetbon commented on #10
See PR #106

[2019-09-05 15:36] stevethedoug commented on #91
@eedgar another way to handle this is to use a podPreset https://kubernetes.io/docs/tasks/inject-data-application/podpreset/ you can add a custom label through the built in logic and then configure a preset to auto inject the annotations to the pods you wish to have the annotations. This isn't specific to this operator and works for any pod set you want to ensure has an annotation without needing

[2019-09-12 03:15] cscetbon commented on #100
@gamer22026 I think we should simply do `{{- if .Values.debug.enabled }}`

[2019-09-12 03:26] cscetbon opened #108 "runtime error when applying a change"
The following steps produce a runtime error :
- k apply -f https://pastebin.com/raw/CPRsgqWk
- wait for the first node to be running (kgp -w)
- k apply -f https://pastebin.com/raw/N1YcpWMn

Here is a log of the runtime error https://pastebin.com/raw/5QPKYRwk

[2019-09-16 10:43] iandebeer opened #109 "Can operator be expanded to allow for ScyllaDB deployment?"
ScyllaDB is a drop-in replacement for Cassandra. Does it require more on the operator side than just a few small changes?

[2019-09-18 12:02] cscetbon commented on #109
Hey @iandebeer, we have a few parameters that are available in the docker image we built, and we use a Jolokia agent to interact with Cassandra nodes. As long as those variables and the Jolokia agent are available in the scyllaDB image it should not be a problem.

They are also working on a side car in Cassandra 4 which will led us to a replacement of our jolokia call. Could be a problem to suppor

[2019-09-24 07:29] mackwong commented on #108
N1YcpWMn has one more `gcStdout` than CPRsgqWk, so it lead to rack1 pod restart
and `dcRackStatus.Phase` turn into `Pending`.
[code]

[2019-09-25 04:05] cscetbon commented on #108
@mackwong Can you add a unit test to prove it works as expected ? But I understand your point.

Thanks !

[2019-09-25 13:04] allamand opened #115 "Add prometheus metrics"
When starting the operator, we get this error

[code]

We didn't activate metrics because casskop actually don't exposes metrics, but operator-sdk may have bootstrap some things to expose metrics.

So we can either remove all metrics part, or compute and exposes some metrics.

WDYT ?

[2019-09-25 13:50] jsanda commented on #115
Why CassKop is not exposing metrics? Just curious...

[2019-09-25 14:30] allamand commented on #115
Just because we didnt' implemented it (yet)

[2019-09-25 14:37] jsanda commented on #115
Ah, gotcha. I have done some work recently on exposing metrics using the ServiceMonitor CRD from the Prometheus operator. Whether or not you wanted to use that, I would be happy to work on this.

[2019-09-25 15:41] allamand commented on #115
Thanks John, yes, that would be great If you can :)

[2019-09-30 07:57] vishnugs opened #116 "cassandra-operator and cassandra"
Hi Team,

Can this operator is production ready ? Also does it support backup & restore to and from aws ?
Is this compatible with  https://github.com/helm/charts/tree/master/incubator/cassandra

-Vishnu

[2019-09-30 08:22] allamand commented on #116
Hi @vishnugs,

We plan to use the operator in production at the beginning of 2020.
We are currently working on backup & restore, we are studying many solutions such as https://github.com/instaclustr/cassandra-backup

For the compatibility, we are not compatible with the helm charts, as we have our own charts to deploy the operator, and then it's the operator that creates Cassandra clusters accordi

[2019-09-30 08:28] #116 closed

[2019-10-02 10:14] Saifulbappi opened #117 "Cassandra Cluster Pod always use the configuration"

[2019-10-02 10:51] Saifulbappi opened #118 "Cassandra Cluster Pod always use the configuration CASSANDRA_AUTHENTICATOR=PasswordAuthenticator"
I am checking this operator and also new to kubernetes.
Whenever i create a cluster with config map cassandra-configmap-v1 given in the samples folder with changing field --
authenticator: AllowAllAuthenticator and
authorizer: AllowAllAuthorizer ..
pod is not taking these values.  when i log the pod, always showing  this--

`Starting Cassandra on 10.244.0.168
Configuration used :
CASSANDRA_AUTHENT

[2019-10-02 11:06] #117 closed

[2019-10-02 13:03] allamand commented on #118
Hi @Saifulbappi,

this is configured from env var from the run.sh script : https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/sidecar/docker/bootstrap/files/run.sh, or it takes the default value from the file.

What did you do to change the value ?

[2019-10-03 04:57] Saifulbappi commented on #118
hi @allamand  thanks for your reply.
I have changed in configmap - cassandra-configmap-v1
at this lines -
 authenticator: AllowAllAuthenticator
 authorizer: AllowAllAuthorizer
in the cassandra.yaml portion. Nothing happened. Also i've tried to change these values with sed command in prerun.sh--
[code]

 But pod didn't get these values
i've also checked - after making the changes-  '/etc/cassandra/

[2019-10-04 14:01] allamand opened #120 "Improve detection of change in statefulset"
I'm already using another library see https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/99/files#diff-37aff102a57d3d7b797f152915a6dc16R22

_Originally posted by @cscetbon in https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/112_

[2019-10-07 06:32] #108 closed

[2019-10-08 01:13] jsanda commented on #40
@allamand can this be closed?

[2019-10-08 07:39] allamand commented on #40
Yes thanks to you 🙏

[2019-10-08 07:39] #40 closed

[2019-10-08 07:49] allamand commented on #118
@Saifulbappi I've made some tests and i'm able to change this values by using the `pre_run.sh`script.

But in the last release we have introduce Init-containers that allows you to use other Cassandra image, such as default `cassandra:3.11` which has different default value for CASSANDRA_AUTHENTICATOR.

Can you please test again using latest release ?

[2019-10-08 07:51] allamand commented on #109
Hi @iandebeer,

We have changed our architectur and are now using InitContainers to bootstrap our Cassandra docker Image. I've tested it with Scylladb but we need to make use of dedicated bootstrap image i for scylla. This is the bootstrapImage we uses for Cassandra: https://github.com/Orange-OpenSource/cassandra-k8s-operator/tree/master/docker/bootstrap

If you like you can submit a PR for a Scyl

[2019-10-08 07:52] #100 closed

[2019-10-08 07:53] #51 closed

[2019-10-08 07:54] allamand commented on #38
@jsanda can we close this one ?

[2019-10-08 07:55] #10 closed

[2019-10-08 08:01] allamand commented on #69
https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/99/files#diff-37aff102a57d3d7b797f152915a6dc16R22

[2019-10-08 08:02] allamand commented on #120
duplicate of #69

[2019-10-08 08:02] #120 closed

[2019-10-08 08:14] allamand opened #123 "Merge CRD fields baseImage & version into cassandraImage"
Since we have introduced 2 new parameters for init containers images: ** BootstrapImage** and **InitContainerImage** , I would like to have only 1 parameter for cassandraImage instead of two.

https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/pkg/apis/db/v1alpha1/cassandracluster_types.go#L636

But this is a breaking change and will need to rewrite existing CassandraCluster C

[2019-10-08 10:15] jsanda commented on #38
Yes, it can be closed.

On Tue, Oct 8, 2019 at 3:54 AM Sébastien Allamand <notifications@github.com>
wrote:

--

- John

[2019-10-08 13:19] #38 closed

[2019-10-08 16:05] allamand commented on #91
In a similar approach, I need to set annotation on the headless service generated by the operator in order to work with [external-dns](https://github.com/kubernetes-incubator/external-dns)

`external-dns.alpha.kubernetes.io/hostname=xxx`

I would like to add section in CassandraCluster.Spec for instance `pod-annotations`and `service-annotations`, found this can make sense

[2019-10-08 16:20] jsanda commented on #115
@allamand I started looking at this a bit more and want to get some clarification on what we to do.

The log message that should shared is for the metrics service that is created for the operator. That is simple fix. Do we want to expose a metrics service for Cassandra as well? That is what I thought this issue was about when I first saw it, but I am not sure now.

[2019-10-08 16:33] allamand commented on #115
Hi @jsanda, Yes in my opinion that would be great to exposes some metrics through the operator directly. I didn't really think about what metrics we could provide, but starting to have an easy way to provide some will be a good start :)

[2019-10-08 17:24] jsanda commented on #115
Each Cassandra node will need to run https://github.com/prometheus/jmx_exporter (or another, similar agent). This would need to be configured in the Cassandra image.

Then we will need to know on what port jmx_exporter is listening so that we know what port to expose in the metrics service.

jmx_exporter has a yaml config file that describes what metrics are exposed. We can make that available thr

[2019-10-08 18:00] allamand commented on #115
Not sure this is what we are talking about. jmx_exporter is for cassandra metrics. We used to have it in each pods, and decided to remove it profit to cassandra_exporter from instacluster. But this is to export cassandra metrics to prometheus. I think what we are talking about here is to have to metrics about casskop to be exposed in prometheus format.

As I said, I didn't think much about what me

[2019-10-08 18:01] allamand commented on #115
for my other point, You can take a look at the bootstraper which install jolokia and cassandra_exporter https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/docker/bootstrap/Dockerfile

[2019-10-10 07:00] allamand opened #125 "Upgrading Casskop helm to new version not working"
When making an upgrade of Casskop to a new version, the new Pod is created, it becomes running, but it won't be ready (because of leader election ?)

The old pod is still there also and not terminated.

If I delete old pod, then another one comes in and take place, but not the new created by helm upgrade..

this is logs of new Casskop:
[code]

it don't prints the following lines:
[code]

[2019-10-11 13:29] allamand commented on #96
Thanks @mackwong you're right, i'm going to fix this.

[2019-10-11 15:21] allamand opened #126 "Error in operation sequence when updating Cassandra statefulset Envs in CassKop"
When Updating Envs in the Statefulset definition, then All statefulsets are updating at the same time.

This is not something wanted as we always want to make only 1 operation at a time.

[2019-10-14 17:52] jsanda commented on #115
I misunderstood. Thanks for the clarification. According to https://github.com/operator-framework/operator-sdk/tree/master/doc/user/metrics, the operator will by default expose metrics for the number of managed clusters.

I think it would be good to expose metrics for how long reconciliation takes and memory usage. I need to do some more research into what else could be useful.

[2019-10-14 18:30] allamand commented on #115
Perfect thanks

[2019-10-15 15:15] #126 closed

[2019-10-16 08:25] allamand opened #129 "Improve LivenessProbe and ReadinessProbe"
# Situation
When the Cassandra is under heavy load, we can see lots of java process in Cassandra Pods which are there only to run `nodetool status` for both liveness and readiness health checks.

We also see the case where the pods would be killed by liveness checks while it was still booting.

So we wants to change the way we uses liveness and readiness checks, and also allow users to change thos

[2019-10-16 15:42] allamand commented on #118
@Saifulbappi now we uses by default official cassandra docker image which has all authenticator by default.

I uses the pre_run.sh script to change it ex:

[code]

[2019-10-16 15:42] #118 closed

[2019-10-16 15:44] allamand commented on #91
@eedgar it is not possible to annotate pods with pod section in the CassandraCluster CRD Definition

you can see this example https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/pkg/controller/cassandracluster/testdata/cassandracluster-2DC.yaml#L19

If this not fullfil you needs, feel free to re-open

[2019-10-16 15:44] #91 closed

[2019-10-16 15:45] allamand commented on #96
closed in #128

[2019-10-16 15:45] #96 closed

[2019-10-23 09:22] kri5 opened #132 "Helm3 CRD Support"
Helm v2 has now reached its latest release, and ongoing development is going toward Helm v3.

Some changes happened between v2 and v3, such as there is no more `crd-install` hook, but now CRD should live in its own top-level directory named `crd`, and everything inside it would be installed before rendering templates.

What would be the proper was to support both worlds? Duplicating CRDs (one defi

[2019-10-23 12:23] kri5 commented on #132
It seems necessary to change `apiVersion` to `v2` in the Chart.yaml, which means breaking compatibility with Helm 2, and that might not be what is wanted as of now.

[2019-10-23 12:49] kri5 opened #134 "Helm3 CRDs workaround documentation"
As of now, you can't support both Helm2 and Helm3 without a breaking change, bumping apiVersion to v2 in the Chart.yaml. (cf #132).

Until then, users can install CRDs manually in order to be able to use this chart using Helm 3.

There should be some documentation for it.

[2019-10-23 15:24] kri5 opened #136 "Tolerations Support"
It would be very interesting to be able to support tolerations in order to schedule cassandra workloads only on some dedicated nodes (in combination with nodeselector).

What would be required to do so?

[2019-10-23 16:44] allamand commented on #136
Hi @kri5, I’ve recently added a pod section in CassandraClister spec to add pod annotations **spec.pod.annotations**.  maybe we can specify some tolerations here that would be propagated to statefulset in generator.go

[2019-10-23 17:53] jsanda commented on #123
Hi @allamand

Here are some thoughts:

**Option 1**
The API version is alpha, which is supposed to mean changes can break compatibility. Removing the old fields and making users responsible for handling the change would be the easiest approach. This works for me personally as I am only using the operator for development and testing. If someone is using the operator in production though, this appro

[2019-10-23 21:19] jsanda commented on #123
I went ahead and opened https://github.com/Orange-OpenSource/cassandra-k8s-operator/pull/137.

Let me elaborate why I prefer a k8s job vs a shell script for option 2. For a user deploying through Helm, there would be an additional step of running a post-upgrade script. As far as I know, the script could not be executed through Helm. The Helm chart can however be modified to deploy a job that will

[2019-10-23 21:33] cscetbon commented on #123
I vote for **Option 1** as it's still an alpha version. We're also talking about migrating to Helm 3. I don't know how it could help in the future. I think it's a subject to look into for future breaking changes but not in our current situation.

[2019-10-28 06:36] mackwong commented on #136
If we add `podtemplate` section in CassandraCluster spec, then user can add everything, not just Tolerations. Is this better?

[2019-11-04 10:46] #136 closed

[2019-11-04 14:28] #134 closed

[2019-11-08 08:27] allamand opened #142 "CassandraCluster status filed PodOperation.PodsOK filled with 2 identical entry"
In some conditions, the status of the PodOperation field may not be filled correctly.

This is sporadic and can be view on this circleCI exectution of the ExecuCleanup e2e test : https://circleci.com/gh/Orange-OpenSource/cassandra-k8s-operator/2809

We can see in this log file :
[code]
that the PodsOK as 2 value identical **cassandra-e2e-dc1-rack1-0**

[2019-11-08 08:56] allamand opened #143 "Manual update of the seedlist is no more possible"
The update of the seedlist is correctly mark to configure in each of the racks, but the Flip can't be triggered becasue of a wrong test on it :

https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/pkg/controller/cassandracluster/reconcile.go#L588
[code]

We need to remove the test on **AutoUpdateSeedList**

[2019-11-13 10:58] fdehay opened #144 "Adding Seedlist under Spec for manual / multicasskop seedlist management"
If someone (or multicasskop)  wants to manage the seedlist manually, one has to specify it under the Status part of the Cassandra cluster definition file. Normally, le status part is managed by casskop as part of the run so to specify something there seems illogical
Shouldn't we add a seedlist in the spec part to be the expected seedlist when the status one will contain the calculated one?

[2019-11-14 06:08] jal06 commented on #144
The seedless is managed automatically by CassKop (or multiCassKop). IMHO, there is no reason to update it manually.

[2019-11-14 06:08] #144 closed

[2019-11-24 15:32] allamand commented on #115
@jsanda Did you take a look at https://github.com/LiliC/instrumently/blob/master/README.md ?

[2019-11-25 08:43] Jabbl opened #148 "Add example for node tolerations"
In #138 it looks like support for tolerations were added. However, I can find no documentation on how to add them to the `cassandra-cluster.yaml`.

Would it be possible to provide an example on how to define tolerations, and explain whether they are global, dc-specific or rack-specific?

[2019-11-26 10:57] #143 closed

[2019-11-26 12:22] #123 closed

[2019-11-27 07:23] allamand commented on #142
Fix by #145

[2019-11-27 07:23] #142 closed

[2019-11-27 12:39] Jabbl opened #150 "Unable to connect reaper"
After upgrading operator to 0.4.1 and setting up a new cluster, it seems the JMX-port isn't open to the outside, which means Reaper is unable to connect to the cluster.

I have executed this command on my two clusters, one launched with 0.3.1 that will soon be deprecated, and one launched with 0.4.1.\
The one from 0.3.1 lies in the `cassandra-operator` namespace, while 0.4.1 lies in the `cassandra

[2019-11-27 13:03] allamand commented on #150
Hi Philip,

which version of bootstrapImage did you uses ?

the jmx is configured using this file : https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/2f13639c07f8da485ee246796766897852f6e9d6/docker/bootstrap/files/cassandra-env.sh#L249

actually last one is orangeopensource/cassandra-bootstrap:0.1.2

thanks

[2019-11-27 13:12] Jabbl commented on #150
The bootstrap-image seems to be the latest:
[code]

How do I check if the JMX is configured to be local?

[2019-11-27 16:26] allamand commented on #150
Hi,

If you exec inside the pod you can check with `ps aux`.

in my case the ouput contains:  `-Dcassandra.jmx.local.port=7199` so it listen only in local.

It seams that in our boostrap we force it to local : https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/docker/bootstrap/files/run.sh#L199-L205

but can't see why it was working before. @cscetbon any though on this ?

[2019-11-27 16:28] allamand commented on #150
@Jabbl, note that you can change this using the post_run.sh script of the configMap in your pod https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/samples/cassandra-configmap-v1.yaml#L18-L20 (using sed..)

[2019-11-27 16:30] allamand commented on #125
This may be related to leader election issue

[2019-11-27 17:11] Jabbl commented on #150
It seems that the output does contain `-Dcassandra.jmx.local.port=7199`, so I see why it doesn't work.

Using `sed`; what file do I change, and what should I change it to?\
I would expect something like `sed -i 's/-Dcassandra.jmx.local.port=7199/<something else>/'  <filename>`, but what should `<something else>` and `<filename>` be?

[2019-11-27 17:42] allamand commented on #150
Sorry I’m on my phone.

The bootstrap build cassandra-env.sh so I think you can try to sed modify this file to enable jmx. Sorry don’t have valid example for now, maybe @cscetbon could help ?

[2019-11-27 17:45] cscetbon commented on #150
I’ll take a look and let you know @Jabbl

[2019-11-28 00:09] cscetbon commented on #150
@Jabbl I can confirm I see the same issue. We set CASSANDRA_ENABLE_JMX to True which is supposed to set LOCAL_JMX to no and prevent this from happening. However, with the new bootstrap image, it doesn't do what it used to do.
How critical is that issue for you ? I'll be working on a fix this week.
FYI, The issue comes from the fact we set the environment variable to be used later but as it happens

[2019-11-28 06:19] Jabbl commented on #150
@cscetbon It isn't too large of an issue. My intention was to set up reaper before we sent any data to the cluster, though I don't expect the data going to shit that early.\
I'm probably going to test the `post_run.sh` workaround anyways, to see if anything else in my setup is wrong.

[2019-11-28 07:39] Jabbl commented on #150
By the way, if the script that runs `test.sh` uses `source test.sh` instead of just `./test.sh`, all exported variables within the script will also be accessible in the caller and all it's children.

Example:\
test.sh:
[code]

caller.sh:
[code]
[code]

Not sure if this is the method you will want to use, but it could be something to look at

[2019-11-28 15:58] cscetbon commented on #150
Unfortunately this method is not suitable cause we're talking about 2 different containers and not just 2 different scripts. But I'm testing a fix atm.

[2019-11-29 15:40] #150 closed

[2019-12-19 21:38] patrickclee0207 opened #158 "DCName with - causes nil pointer crash"
upgraded the operator from 0.4.1 to 0.5.0 and the operator would just crash as soon as it came up.
[code]

starting a brand new namespace and deploying a cluster, the operator would deploy the cluster and as soon as it was done it would crash with the same error.  after doing some digging i found it to be issue with having a - in the DC name.  it did work in earlier versions but starting with 0.5.

[2019-12-20 11:10] fdehay opened #159 "Removal of namespace hangs on terminating"
When removing a namespace with CassKop and a running cluster in it without prior warning, K8S cannot complete the task. The namespace hangs on Terminating
This happened on one of our internal clusters

[2019-12-20 11:12] fdehay commented on #158
Hi @patrickclee0207 ,
Thanks a lot for opening the issue, we'll be looking at it shortly!

[2019-12-20 13:34] fdehay commented on #159
The issue may come from the finalizer of the CRD (thanks @allamand)

[2019-12-20 15:07] cscetbon commented on #158
Hey @patrickclee0207, I'm surprised it worked on v0.4. Using dashes in names is not a good idea as it's internally used as a separation character. We count on #34 to add validation on that field.

[2019-12-20 15:55] patrickclee0207 commented on #158
as i was digging, i was surprised it worked before also.  i did it more of a second nature and we have a lot of clusters (not containers) were we generally use - in the dc name. so as i've been testing things that is just what I've been using and when it started crashing after upgrading, it took a little while to figure out that was the cause.  it's an easy workaround for new things and I personal

[2019-12-22 21:02] erdrix opened #160 "Improve remotes managment"
When we deploy the Operator MultiCassKop, we give it a list of remotes that he can manage.
But if I deploy a CR MultiCasskop, with omitting at least one remote, the operator will stuck on this one, because the operator expected that all have CassandraCluster resource to deploy.

I don't think this is the behaviour that we want to have, because the aim of an operator is not to manage only one Cassa

[2020-01-07 03:26] cscetbon commented on #84
@ahmedjami please, try to update the issue here regarding the solutions that are tested and chosen with the reasons

[2020-01-08 14:57] VladPedosyuk commented on #115
@allamand Hi, you mentioned that _jmx-exporter_ in the operator has been replaced with _cassandra-exporter_ but it seems that [the existing dashboard sample is outdated](https://github.com/Orange-OpenSource/cassandra-k8s-operator/blob/master/samples/prometheus-grafana-cassandra-dashboard.json). Are you aware of any dashboards that would be compatible?

[2020-01-10 03:39] cscetbon opened #166 "OpenAPI changes broke something"
We're no longer able to deploy a cluster if we use the new crd with the validation included. As a temporary workaround until it's fixed (hopefully soon by @jsanda 😉) what can be done is to checkout an older version of the crd and install it instead of the latest version :
[code]

[2020-01-13 20:22] jsanda commented on #166
Hey @cscetbon

I was not able to reproduce the issue. I built from master, my HEAD is at `4e961fad8`. I was able to deploy to a kind cluster. Here are my steps:

* `make build`
* `kubectl apply -f deploy/crds/db_v1alpha1_cassandracluster_crd.yaml`
* `make run`
* `kubectl apply -f cluster.yaml`

where cluster.yaml looks like:

[code]
Can you test again and please provide steps to reproduce if there

[2020-01-15 02:45] cscetbon commented on #166
@jsanda agreed. I think my k8s was in bad state cause I can't reproduce it either. I created a branch to fix the issue with the required fields #165

[2020-01-15 02:45] #166 closed

[2020-01-15 11:23] erdrix opened #168 "[Multi Casskop] Rebuild operation can't work"
I created on GCP two GKE cluster, and deployed on each, a casskop operator and external dns.
On top of that, I deploy the multi-casskop operator, and the following  `Multi-Casskop` resource :

[code]

I have one dc on the ` gke-master-west1-b` k8s cluster (`dc1`) and a second one on the `gke-slave-west1-c` k8s cluster (`dc2`).

[code]
Once the cassandra cluster is ready, I tried to perform a rebui

[2020-01-15 13:01] erdrix opened #169 "[Operator-sdk] Rethink the way we update an object"
Today we are working with Operator-sdk v0.9.0: object modifications are managed in updating objects from client side, which is injected with a replace into server side : https://github.com/operator-framework/operator-sdk/blob/master/doc/user/client.md#update

In addition we have old k8s.io dependency : https://github.com/Orange-OpenSource/casskop/blob/master/go.mod#L41

[code]

With this two thing

[2020-01-16 13:41] cscetbon commented on #158
Fixed.

[2020-01-16 13:41] #158 closed

[2020-01-20 14:22] fdehay commented on #148
Hello @Jabbl, sorry for the (very long) delay. We're taking your request in our current sprint.
You can see what is going on in the Auto-Kanban: https://github.com/Orange-OpenSource/casskop/projects/1

[2020-01-20 14:26] fdehay opened #170 "IP crossing when rebooting K8S node with multiple C* nodes"
When a K8S node reboots with 2 C* nodes of the same cluster, it may happen that node 1 is assigned the former ip of node 2 and node 2 the former ip of node 1.
C* is not happy with this situation. THe following error message is in the logs:

We need to find a solution for this as our production environnement does not have enough nodes yet. Seems funny at the cloud age but that's the way things are

[2020-01-20 14:34] fdehay commented on #170
After some thoughts on the subject, we have decided to implement a kill pod strategy based on the restarts of the pod.
We believe that by suppressing the pod K8s will affect it a new IP on recreation.
In the case ol the calico plugin we are confident that another ip will be given to the pod so we should be in the clear.

[2020-01-20 14:44] fdehay opened #171 "CassKop website!"
We need a separate website to "promote" casskop.
This site should have the complete documentation, instead of expecting users to go through the different readme files.

[2020-01-20 14:45] fdehay opened #172 "Fix dgoss unit tests"
Our dgoss unit tests have taken the bad habit of failling quite often.
We need to fix this to have better tests.

[2020-01-20 14:49] fdehay commented on #169
OK let's upgrade our operator-sdk to 0.14 to start with.
Then we can test the patch "method"

[2020-01-27 16:42] lanefu commented on #115
@VladPedosyuk I'm trying to solve hte dashbaord problem myself... the metrics sets seem to be very different now.

[2020-01-28 10:10] fdehay opened #176 "Eviction and leadership"
When Casskop's pod is evicted by K8S for resource shortage, the pod stays in Evicted mode.
When a new pod is spawned by K8S once some resources have been freed, ne new pod does not start.
Workaround is to delete the evicted pod so that the new pod starts correctly.

[2020-01-28 10:47] erdrix commented on #176
To add some precisions, if we scale the operator deployment :

[code]

We will have the following status :

[code]

With the following error :

[code]

I think we should have a look on leader election using operator-sdk : https://github.com/operator-framework/operator-sdk/blob/master/doc/proposals/leader-for-life.md

[2020-01-28 16:56] allamand commented on #176
I think the leader election is already implemented that that my be the root cause to the pod not be ready, I think only the leader may be allow to write the ready file..

[2020-01-29 08:21] erdrix commented on #176
My bad,  it's for multi-casskop that isn't implemented :/.
So we need to manage the case where a pod is in an evicted state : https://docs.openshift.com/container-platform/4.1/applications/operator_sdk/osdk-leader-election.html#osdk-leader-with-lease-election_osdk-leader-election

But somethings is weird, because the evicted one should be recreated after beeing evicted during 5 min, refering to th

[2020-01-30 09:53] fdehay opened #180 "Custom C* image requirements for CassKop"
By default, CassKop is compatible with the official C* image.
Some users may want to use a custom image for their purpose.

We need to describe what is expected from that custom image as our bootstrap mechanism is changing it as if it were the official C* image.

In particular, we need to explain:
- how to use a different jvm
- how to specify a different GC
- how to specify a specific liveness pro

[2020-01-30 15:23] berln commented on #180
I would add :
How to change the readyness failureThreshold:

This parameter would take into account a long Cassandra startup after a crash.
I usually increase it when the pod takes more than the default 4 minute to be ready.

[2020-01-31 04:06] cscetbon commented on #172
Fixed #175

[2020-01-31 04:06] #172 closed

[2020-01-31 04:09] cscetbon commented on #129
The new proposal is to do the same as https://github.com/sky-uk/cassandra-operator/issues/30#issuecomment-480208420. Jolokia is running on each node and can be used to query the status. It's also really faster than using nodetool who spawn a new JVM each time it's called

[2020-01-31 04:13] jsanda commented on #129
Very interesting. I think it is a neat approach.

[2020-02-01 05:06] jsanda opened #181 "Removal of deep copy functions breaks casskop as dependency in other projects"
I am import casskop as a dependency in some projects. In one project I am currently using v0.3.2 and decided to upgrade to v0.5.0-release. I updated my `go.mod` and then the build failed with:

[code]
My project is using a newer version of operator-sdk. I thought that might be a problem; so, I reverted to an earlier version of my project which was using operator-sdk v0.9.0 and still got the error.

[2020-02-01 05:08] jsanda commented on #34
@cscetbon can this be closed?

[2020-02-01 08:07] allamand commented on #181
Hi John, okay this makes sense to keep deep copy functions for dependencies

[2020-02-01 23:55] cscetbon opened #182 "Jolokia Authentification not working with bootstrap image"
Bootstrap image generates Cassandra's configuration. However it does not enable Jolokia authentication cause some env variables are missing. It also needs to be tested and probably added to the new liveness and readiness scripts as they use Jolokia queries #129

[2020-02-02 01:00] cscetbon opened #183 "Allow to modify liveness and readiness probes"
Probes are automatically defined and configure to use
- https://github.com/Orange-OpenSource/casskop/blob/v0.5.0-release/docker/bootstrap/files/liveness-probe.sh
- https://github.com/Orange-OpenSource/casskop/blob/v0.5.0-release/docker/bootstrap/files/ready-probe.sh.

Parameters are also hardcoded https://github.com/Orange-OpenSource/casskop/blob/v0.5.0-release/pkg/controller/cassandracluster/gene

[2020-02-02 02:56] cscetbon commented on #34
Yes closing it, thanks

[2020-02-02 02:56] #34 closed

[2020-02-03 09:55] fdehay commented on #148
Done in https://github.com/Orange-OpenSource/casskop/pull/177

[2020-02-03 09:55] #148 closed

[2020-02-04 02:07] cscetbon commented on #183
PR to implement it #184

[2020-02-04 02:43] cscetbon opened #186 "Centralize information information between code and tests"
Volumes mounts are used in Casskop source code as in dgoss scripts :

https://github.com/Orange-OpenSource/casskop/blob/f59dbb9aeb316ee3a937d250367e5d2eb5b2f09e/docker/bootstrap/dgoss/util.sh#L134-L135

https://github.com/Orange-OpenSource/casskop/blob/f59dbb9aeb316ee3a937d250367e5d2eb5b2f09e/docker/bootstrap/dgoss/util.sh#L117

https://github.com/Orange-OpenSource/casskop/blob/702c0a5dbd59f245113

[2020-02-04 02:51] cscetbon commented on #186
@jsanda could such a refactoring be a problem to use casskop as a dependency  ?

[2020-02-04 10:24] allamand commented on #186
The dogs script are used to test that the volumes behaves correctly in the code. What optimisation would you like to do here ?

[2020-02-04 12:29] cscetbon commented on #186
As I said in the description, the same information is used at different place. Look at PR #184 to get an idea of what I'm talking about

[2020-02-05 15:03] erdrix opened #188 "Unused CassandraCluster fields"
# Bug Report

## What did you do

Since the introduction of OpenApiV3 validation with the PR https://github.com/Orange-OpenSource/casskop/pull/122, we deployed, for example the following CassandraCluster :  https://github.com/Orange-OpenSource/casskop/blob/master/test/e2e/testdata/cassandracluster-1DC-no-autopilot.yaml

## What did you expect to see?

The creation of CassandraCluster object.

## W

[2020-02-06 00:38] cscetbon opened #189 "Create volumeMounts specific to containers"
The current version of casskop creates the same volumeMounts for all containers (initcontainers and containers). It should be more specific. For example `init-config` only requires /bootstrap to be present and our bootstrap image does not need a /tmp (maybe another bootstrap image could use need it ?). Resolving this issue could ends up in just updating volumeMounts for int-config, this is TBD.

[2020-02-14 00:20] cscetbon commented on #189
Fixed by #190

[2020-02-14 00:20] #189 closed

[2020-02-14 13:01] erdrix opened #192 "Can't update sidecar list with less items"
# Bug Report

## What did you do

I create a CassandraCluster with the following `sidecarConfigs` (3 elements) :

[code]
And after I applied an update of `sidecarConfigs` with a lower number of elements :

[code]

## What did you expect to see?

A rolling upgrade of the statefulset

## What did you see instead? Under which circumstances?

The operator crashed with the following error :

[code]

##

[2020-02-17 10:21] eduard-timoshenko opened #194 "Configmap for exporter"
It will be very useful have configmap for exporter.
For example I want use blacklistObjectNames, because we have a lot of keyspaces. And I want exclude some metrics.

I can't find this solution in documentation.

[2020-02-17 11:52] #194 closed

[2020-02-20 17:19] cscetbon commented on #182
Fixed in latest release

[2020-02-20 17:19] #182 closed

[2020-02-20 17:23] cscetbon commented on #181
Fixed by #195

[2020-02-20 17:23] #181 closed

[2020-02-20 18:51] cscetbon commented on #180
Fixed in 0.5.1, see this [README](https://github.com/Orange-OpenSource/casskop/tree/master/docker/bootstrap/README.md#cassandra-bootsrap-image-for-casskop)

[2020-02-20 18:51] #180 closed

[2020-02-20 18:52] cscetbon commented on #129
Done and merged see #184

[2020-02-20 18:52] #129 closed

[2020-02-25 08:15] fantasy4z opened #197 "Got "exec: \"casskop\": executable file not found in $PATH" after a fresh helm install."
helmfile.yaml (which describes itself):
[code]

Messages of the pod failure:
[code]

Workaround:
[code]

Maybe we can remove the `command` key-value pair here? https://github.com/Orange-OpenSource/casskop/blob/2c52e9665ec0904e5b71ad908b6d81f5b21c8f5e/helm/cassandra-operator/templates/deployment.yaml#L37

[2020-02-25 08:26] #192 closed

[2020-02-25 08:31] erdrix commented on #197
There is an error in the `values.yaml` of the chart, with the last release, we forgot to upgrade the operator version, which is still in v0.5.0-release instead of v0.5.1-release : https://github.com/Orange-OpenSource/casskop/blob/master/helm/cassandra-operator/values.yaml#L5

We will correct this, meanwhile you could add `--set --set image.tag=v0.5.1-release` to your `helm install` command to forc

[2020-02-26 13:39] #170 closed

[2020-03-05 12:52] #168 closed

[2020-03-08 18:24] erdrix commented on #197
Resolved with https://github.com/Orange-OpenSource/casskop/pull/199

[2020-03-08 18:24] #197 closed

[2020-03-25 16:04] erdrix commented on #183
Are the PR https://github.com/Orange-OpenSource/casskop/pull/201 and PR https://github.com/Orange-OpenSource/casskop/pull/206 enough to close this issue ?

[2020-03-26 00:10] cscetbon commented on #183
I think so. Closing it

[2020-03-26 00:10] #183 closed

[2020-04-02 07:40] eramirez51 commented on #84
Why not use this?

https://github.com/MySocialApp/kubernetes-helm-chart-cassandra/blob/master/kubernetes/templates/backups.yaml

[2020-04-03 09:36] smiklosovic commented on #84
@cscetbon we in Instaclustr will help you to port it, we are supporting not only s3 as a target but azure, gcp too. There does not need to be "other controller", the way I see it is that in your terminology it would be just another "command" so it would fit your existing way of doing things seamlessly. We have introduced new controller because we have not had the abstraction with commands. There i

[2020-04-03 12:54] fdehay commented on #84
@smiklosovic thanks a lot for the offer, we do appreciate!

We owe you an update on our work on these essential features around backup/restore.
We have more details on the actual need of our ops team and they are:
- We need differential backup on top of full backups (we have a lot of data)
- We need to be able to restore a single table (backup only table if possible)
I have looked at your implemen

[2020-04-03 13:57] smiklosovic commented on #84
Hi @fdehay ,

yes, it is possible to backup differentials. It is not actually possible but it is how our backups work. Imagine you have 10G of data and you do a backup. Next day, only 500M of data were created. If you backup again, you wont upload 10.5G again, only 500M, just data which were created, the differencies. We can do this because SSTable is an immutable construct. If you have 10 SSTable

[2020-04-03 14:01] smiklosovic commented on #84
@fdehay I forgot to add that our Sidecar is bundling backup / restore tooling already. That was the way how it was designed. The way how it works is that the very backup-restore project is tightly integrated (as a library) into our sidecar so if a backup request is invoked via sidecar, it is just called internally via library's api.

Backup-restore project is a both a CLI application you can invok

[2020-04-05 19:03] sheerun opened #207 "Pod is stuck on pending when resources exhausted"
I've created cassandra cluster with following configuration:

[code]

but only first rack started because memory has been exhausted on cluster. The second was stuck in "pending" with error message telling there are not enough resources.

Now, I've modified cluster definition and reduced limits:

[code]

But after applying these changes with kubectl the cluster is still stuck on second rack in pend

[2020-04-05 19:17] erdrix commented on #207
Hi, this kind of state is not managed by the operator, because from the operator's point of view, the statefulset is performing something (and it doesn't know what). And before applying any changes to the statefulset, in this case updating limits and requests, the operator is waiting for the statefulset to successfully run, that in your case will never happen.

To work around this situation, you h

[2020-04-05 20:16] sheerun commented on #207
Coudn't operator check reason pod is not ready (i.e. not enough resources), and apply changes in resource limits? I feel this can be a situation even after cluster is created (e.g. scaling up or reducing number of nodes without verifying limits).

[2020-04-05 20:27] sheerun commented on #207
Also, are you sure that pvc won't be removed? there is `deletePVC: true` config option

[2020-04-05 21:16] sheerun opened #209 "Unattached block storages created"
I've created cassandra cluster with configuration below, but operator managed to provision few extra unattached volumes. I think it might be because there is some kind of delay between volume creation and operator requesting volume to be created. Or maybe because on Scaleway requesting pvc with given name is not idempotent and names are allowed to be duplicated (they generate their own unique ids

[2020-04-05 21:21] sheerun commented on #209
Also, here are events from first PVC:

[code]

[2020-04-05 21:31] sheerun commented on #209
I've notified Scaleway support as it seems this can be Scaleway's issue, not Casskop's.

[2020-04-05 21:54] sheerun opened #210 "Pods are not automatically balanced with hardAntiAffinity: false"
I've created cluster with following configuration:

[code]

on cluster with just one node. After all pods were Ready, I've scaled cluster size to 2 nodes, but all pods are still running on first node. I'd expect that they will autobalance into the second node? If it's not expected, can it be implemented as an option?

[2020-04-05 22:26] erdrix commented on #207
This field allow you to specify to delete or not the PVC, when the **CassandraCluster** resource is removed (let's have a look on documentation [here](https://github.com/Orange-OpenSource/casskop/blob/master/documentation/description.md#configuration))

When you remove a Statefulset, this doesn't remove the associated PVC, if you check statefulset documentation https://kubernetes.io/docs/tasks/run

[2020-04-06 00:45] cscetbon commented on #207
It's a good question. I feel like users should not have to deal with K8s but only with the operator. We could accept a PR to circumvent such issue in a limited cases like "no memory resources". At the moment we use a PodDisruptionBudget to know when K8s is taking care of a task or if it's on the operator. We should probably try to flesh out the details if we wanna do otherwise.

[2020-04-06 02:51] eramirez51 opened #211 "imageJolokiaSecret not used"
As per the [Auth documentation](https://github.com/Orange-OpenSource/casskop/blob/master/documentation/description.md#authentication-and-authorizations), I have created a secret and created the cluster in the same namespace.

Cassandra enables Authentication, but uses the default username/password (cassandra/cassandra) instead of the values from `jolokia-auth`

Bootstrap logs says

[code]

Below a

[2020-04-06 07:52] #115 closed

[2020-04-06 07:52] fdehay commented on #115
Done as of 0.5.1 sorry

[2020-04-06 14:19] Sh4d1 commented on #209
@sheerun saw the ticket. It was a problem of an old version of our csi, should be fixed now. Please open an issue in https://github.com/scaleway/scaleway-csi/ if it happens again!

[2020-04-06 14:46] fdehay commented on #207
We discussed the other day how to prevent the user from being in front of a stuck statefullset. Then it was about non existing storage class. Here we should test the memory available?
In my opinion the user should know how much memory he has left before requesting a cluster. Same as he should know the storage classes and the vcpus available.
But we could improve the documentation and describe what

[2020-04-06 14:49] fdehay commented on #209
Thanks @Sh4d1 for commenting and welcome to Casskop :)
Please @sheerun could you close the issue if you confirm it works now.

[2020-04-06 15:06] sheerun commented on #207
Shouldn't operator at least refuse to provision statefulset if it is known that there won't be enough resources to fully provision it?

[2020-04-06 22:25] sheerun commented on #209
Indeed it seems to work now :) Thank you!

[2020-04-06 22:25] #209 closed

[2020-04-06 23:19] cscetbon commented on #84
@smiklosovic I'm going to give a try to your code as it seems to do everything we look for. I like also the fact we can introduce a new controller or not depending on our needs. I'll reach out to you privately. Thanks !

[2020-04-06 23:21] cscetbon commented on #84
@smiklosovic also please join our [Slack](https://github.com/Orange-OpenSource/casskop/blob/4e961fad815d592bd64c08bc5cb44e8b0eec6f4f/CONTRIBUTING.md#email-and-chat)

[2020-04-07 01:03] cscetbon commented on #211
@eramirez51 Jolokia authentication enables authentication only at Jolokia level. You should see it in the generated jvm.options. See https://github.com/Orange-OpenSource/casskop/blob/master/docker/bootstrap/files/run.sh#L199. It's only used by the operator to communicate with the nodes in order to avoid anyone to be able to call Jolokia remotely without authenticating. However I'm surprised to see

[2020-04-07 03:14] cscetbon commented on #210
Hey @sheerun, by default we use a [soft anti affinity](https://github.com/Orange-OpenSource/casskop/blob/2944ff30e3cf42047d5b5087478bba625611d58c/pkg/controller/cassandracluster/generator.go#L524-L531) and Kubernetes decides where to put Cassandra nodes depending on the resources and availability of kubernetes nodes. If you want to ensure you don't have 2 Cassandra nodes on the same k8s node then

[2020-04-07 03:16] cscetbon commented on #186
We have in mind to automate the releasing process. We'll use it as an opportunity to refactor code and versioning.

[2020-04-07 03:16] #186 closed

[2020-04-07 04:38] sheerun commented on #210
OK I understand that auto-balancing when `hardAntiAffinity: false` is out of scope?

[2020-04-07 10:45] smiklosovic commented on #84
@cscetbon it is saying that I cant join because I do not have `@orange.com` email. You would have to send me an invitation to stefan dot miklosovic at instaclustr dot com

[2020-04-07 12:17] fdehay commented on #84
@smiklosovic you cannot join the slack?  https://casskop.slack.com
You should be able to join
I tried to add you but Slack could not find you with this email.

[2020-04-07 13:58] smiklosovic commented on #84
@fdehay no I can not, I can either sign in or I can create an account _if_ I have an email address ending on `@orange.com`, it says _If you have an @orange.com email address, you can create an account._. Otherwise I can just sign in but I can not because my email is not recognized.

Does you channel have some invitations? You can try it yourself trying to pretend you are a stranger without Orange

[2020-04-08 02:11] cscetbon commented on #84
@smiklosovic I sent you an invite to our slack workspace. I also sent you an email and did not get any response.

[2020-04-09 07:50] allamand commented on #207
@sheerun it's kubernetes via the statefulset that refuse to make the operation if there is not enought resources, so that the operator cannot know about it before it happen, and because it's the statefulset that is blocked in waiting state, the operator simply also wait for it.

Meanwhile we have introduced a special parameter to deal with this `unlockNextOperation`. This special parameter will be

[2020-04-21 15:00] erdrix opened #212 "Custom resources for Init containers"
# Feature Request

**Is your feature request related to a problem? Please describe.**

When I try to deploy a CassandraCluster with resources limited, if the resource are too close from the one used for the running state (i.e : 12 nodes of 12 CPU, with 250 CPU available), this won't work, because each init-container will ask for having 12 CPU each (= 24 CPU), which are not available, even if the r

[2020-05-04 11:59] fdehay commented on #84
We have decided to integrate CassKop with Instaclustr's solution.
Hopefully it will work nicely :)

[2020-05-13 14:57] #212 closed

[2020-05-18 08:11] fdehay commented on #210
hi @sheerun can you close this issue if you have an answer please?
if hardANtiAffintity is set to false, K8S will schedule the pods where he wants

[2020-05-18 19:43] #210 closed

[2020-05-21 08:07] eramirez51 opened #219 "How can I modify the CASSANDRA_MAX_HEAP"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**

## Question

**What did you do?**

I wanted to modify the `Xms` and `Xmx` JVM options, so I supplied my `jvm.options` file expecting that it will be honored by casskop.

**What did you expect to see?**

My final jvm.options file should hav

[2020-05-22 03:50] cscetbon commented on #219
@eramirez51 We made the choice to not allow users to directly override that parameter. It's set by CassKop automatically to 2GB if you don't provide any resource limit, or a fourth of the memory limit set. You can find what it does below  https://github.com/Orange-OpenSource/casskop/blob/282d790d4c054d750ab058ddb600596355d20996/pkg/controller/cassandracluster/generator.go#L417-L424
to sum up, you

[2020-05-22 03:51] cscetbon commented on #211
@eramirez51  were you able to confirm that it works properly ? If yes, please close the ticket.

[2020-05-22 03:53] cscetbon commented on #207
@erdrix anything to add here ? I know you were supposed to try the dry-run feature available at the api level. Does it help or is it the same as the dry-run option of kubectl ?

[2020-05-22 03:54] cscetbon commented on #171
That one should be soon closed ?

[2020-05-22 05:48] hugeaim commented on #219
Thank you I got my answer. As I suspected, I am not using it correctly.

[2020-05-22 05:49] hugeaim commented on #211
I doesn't work and decided not to pursue it as it is highly important for me anyway. Thank you for your support.

[2020-05-27 12:10] tengzhuofei opened #221 "0.5.2 the metrics sets seem to be very different now."
cassandra  3.11.6
prometheus-operator-8.13.8

I need to  a dashbaord  . the metrics sets seem to be very different now.

[2020-05-27 12:56] ahmedjami commented on #221
Hi @tengzhuofei
You can use the new [BETA Dashboard](https://github.com/Orange-OpenSource/casskop/blob/monitoring/documentation/monitoring.md#install-our-dashboard) under monitoring branch,

Don't hesitate to test it, It will be merged soon on master branch once tested and approved :)

[2020-05-28 03:56] tengzhuofei commented on #221
ok，This method solved my problem. I hope to be merged soon on master branch once tested and approved

[2020-05-28 08:02] ahmedjami commented on #221
The new dashboard works well for you ?
I would be interested to know if all the panels are displayed well and especially the Polystat panel :)

[2020-06-04 07:58] #219 closed

[2020-06-14 16:24] pratimsc opened #231 "Adjusting -Xmx and -Xms for the cassandra pods, increasing utilization of Node resources"
## Type of question
Trying to understand a design decision

## Question
A specific question to understand how to adjust the `-Xmx` and `-Xms` in the pod.

**What did you do?**
I followed the example in the documentation and referred the `samples/cassandra-configmap-v2.yaml`. Providing `jvm.options` in the config file does not help.
It was taking 3GB, which is one fourth of the Pod resource limit.

[2020-06-14 16:32] cscetbon commented on #231
@pratimsc, first of all there is a current issue with setting the heap that #230 solves. Second, we don't store memtables in the heap https://github.com/Orange-OpenSource/casskop/blob/2f13639c07f8da485ee246796766897852f6e9d6/docker/bootstrap/files/cassandra.yaml#L422. Cassandra uses, by default, at most 2GB of heap to store memtables data before flushing it to disk (see memtable_heap_space_in_mb).

[2020-06-19 09:01] #171 closed

[2020-06-28 04:26] cscetbon commented on #231
@pratimsc I propose that we close your issue and as the question was answered

[2020-06-28 04:28] #207 closed

[2020-06-28 04:28] cscetbon commented on #169
@erdrix any news on that issue ?

[2020-07-03 13:11] cscetbon commented on #221
#224 has been merged. Closing the ticket now

[2020-07-03 13:11] #221 closed

[2020-07-16 07:40] etimoshenko opened #239 "External access"
Hi. How can I provide external access to cassandra by operator? I can't find solution in docs

[2020-07-16 11:36] ahmedjami commented on #239
Hi @etimoshenko

You are looking for access to Cassandra cluster from your application ? if it is running within the same k8s cluster as Cassandra, you can use the services exposed by casskop.
`k get svc` to list all services that exposed by casskop
External applications do not have this possibility, so you have to expose the service as LoadBalancer or Ingress...

More info at this blog post: http

[2020-07-22 07:43] etimoshenko commented on #239
Can you give me example, how can I expose cassandra for access outside a k8s cluster.
My problem, I can't start cassandra in hostnetwork by operator.
If add nodeport, this port not added to seeds.

[2020-07-23 09:36] fdehay commented on #239
HI @etimoshenko,
What is you deployment environment?
If you are on a public cloud, then you can use LoadBalancer
If on a private cluster, you need a Ingress Controller
More details are on the link provided by @ahmedjami

We do not support hostNetwork or nodePort in CassKop as of now.
We can improve the examples in the documentation though :)

[2020-07-28 13:31] #211 closed

[2020-07-28 13:32] fdehay commented on #176
CLosing this at it did not re occur.

[2020-07-28 13:32] #176 closed

[2020-08-10 08:33] #239 closed

[2020-08-25 01:57] #231 closed

[2020-08-28 04:22] yannuil opened #249 "What is the best practices to enable internode encryption?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**
Community best practices

## Question

**What did you do?**
I am trying to enable internode encryption across two DCs on different cloud providers.

I am thinking of adding a pre-script to generate keystore per each cassandra node and using

[2020-08-31 16:50] scott-kausler commented on #159
As @fdehay indicates, this does seem to be a finalizer when deleting the CRD at the same time as the namespace. This issue best describes it https://github.com/kubernetes/kubernetes/issues/60538. In my case, I found it helps to wait before deleting the namespace:
`kubectl -n <namespace> wait --for=delete --timeout=600s <resource-name>`

[2020-09-01 08:46] fdehay commented on #249
Hi @yannuil,
In our backlog we need to look at inter dc encryption but not yet with different providers!
As things stand we plan on using service meshs like istio for this.
We can think of other ways too but we are focused on releasing Backup & Restore at this point.
Don't hesitate to elaborate on your thoughts and thanks for opening the issue

[2020-09-01 08:54] fdehay opened #251 "Kubectl apply fails after rolling restart triggered by plugin"
## Bug Report

**What did you do?**
- We triggered a rolling restart with the casskop plugin:
  kubectl casskop restart --crd cassandra-bgl --full
- We applied the initial configuration of the cluster
  kubectl apply -f cassandra-bgl.yaml

**What did you expect to see?**
Nothing is supposed to happen as we applied the initial yaml.
We are not supposed to have an error

**What did you see instead?

[2020-09-02 14:02] #251 closed

[2020-09-10 16:34] mattniedelman opened #255 "multicasskop role needs permissions for multicasskop resources"
## Bug Report

**What did you do?**
new install of 0.5.4

**What did you expect to see?**
multicasskop pod operating on multicasskop custom resources

**What did you see instead? Under which circumstances?**
looks like it doesn't get the necessary rbac permissions
[code]

**Environment**
* casskop version: 0.5.4

* Kubernetes version information: 1.18.3

* Kubernetes cluster kind:  bare-metal

* C

[2020-09-15 07:15] #255 closed

[2020-09-16 16:14] mizunos opened #261 "NodeSelector and Node taints support?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**
Implement Node Selector and Node taints/pod tolerations -
## Question

Need to be able to force cassandra cluster within a Node Pool on GKE.  I do not see anywhere in the doc on how to implement NodeSelector,  Tolerations

* Kubernetes vers

[2020-09-16 16:23] cscetbon commented on #261
@mizunos see [node-affinity](https://orange-opensource.github.io/casskop/docs/3_configuration_deployment/4_cluster_topology#node-affinity), [hard-antiaffinity](https://orange-opensource.github.io/casskop/docs/3_configuration_deployment/4_cluster_topology#configuring-hard-antiaffinity-in-cassandra-cluster) and [Taints](https://orange-opensource.github.io/casskop/docs/3_configuration_deployment/4_cl

[2020-09-16 16:27] mizunos commented on #261
Thank you for the quick response - exactly what I need.

[2020-09-16 16:27] #261 closed

[2020-09-16 18:21] mizunos opened #262 "Which apiextensions.k8s.io version should be for crd"
## Bug Report

**What did you do?**
Follow README.md to install crds using
[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

[code]

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).
Got the following error message
[code

[2020-09-21 01:12] cscetbon commented on #262
Hey @mizunos actually it's because CRD has been promoted to v1 in 1.16. I think we should have different folders for 1.16+ and older versions

[2020-09-27 15:23] yannuil commented on #249
Hi @fdehay

Thank you for your reply.

I am currently experimenting with Isitio. With its improved [support](https://istio.io/latest/news/releases/1.7.x/announcing-1.7/#vm-support-with-added-security) of connecting vms into a K8S based service mesh, I think I can connect a new K8S datacenter to an existing vm based C* datacenter to migrate the data into the K8S cluster.

But it seems that during t

[2020-09-27 15:36] cscetbon commented on #249
@yannuil good to hear that you're testing it. We spent some time testing Istio and Linkerd2 and both had issues with the Gossip Protocol. I created a few tickets that are supposed to be solved on Istio now but I think I still saw some users complaining about it. Linkerd2 was supposed to add the all traffic support a year ago but the card is still pending on their projects board. We were at least a

[2020-09-27 18:56] mizunos opened #264 "Default user name for a new Cassandra cluster"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**
General context of a new cassandra cluster - What is the first superuser account created in a new cluster

## Question

**What did you do?**
Follow the step by step and sucessfuly bring up a new dc1 cassandra cluster.  What is the default s

[2020-09-27 19:30] cscetbon commented on #264
@mizunos this is because we don’t use any cql statements on the new database created. It’s purely a default cassandra setting that you can alter by connecting using cql when the cluster is ready. The default login/password is cassandra/cassandra

[2020-09-29 22:23] mizunos commented on #264
Thank you - got it. original secret works fine

[2020-09-29 22:23] #264 closed

[2020-09-29 22:37] mizunos opened #266 "Prometheus setup - connect cassandracluster to an existing prometheus server"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**
Help with setting up prometheus to monitor cassandra

## Question

I already have a prometheus pod spinned up in the current Cassandra cluster (managed by casskop).  Is the JMX exporter already deployed with Cassandracluster and if so what

[2020-09-29 22:38] #262 closed

[2020-09-29 23:01] cscetbon commented on #266
@mizunos see https://orange-opensource.github.io/casskop/docs/2_setup/1_getting_started#monitoring. In short you'll need to create a new serviceMonitor with the correct settings and import our dashboard. You'll probably also need the install the plugins we use though or use your own Grafana dashboard. See https://github.com/Orange-OpenSource/casskop/tree/master/monitoring, I think the documentatio

[2020-09-29 23:22] mizunos commented on #266
So the ServiceMonitor object that was defined in CassKop example is to be used if we were deploy Prometheus using the coreOS operator.
In this case,  I am running Cortexmetrics which already have prometheus as part of the deployment.  Looking through the code, it seemed like there is a service already deployed when I spinned up Cassandra using Casskop (cassandra-exporter-jmx on port 9500) and that

[2020-09-29 23:38] cscetbon commented on #266
Yes the service cassandra-exporter-jmx is already deployed, hence why I didn't talk about it 😬
If the service monitor works with your prometheus deployment, then you should be on the right path.

[2020-09-30 03:41] mizunos commented on #266
The plan worked.  I added the service monitor configuration job to the current prometheus server configmap, and reset the server.  The new configmap now picked up the target cassandra node without any problem. Off to setup the grafana dashbaord now.  Thanks

Quick note - if you have any information about setting up cassandra -reaper in K8s,  would appreciate the information.

[2020-09-30 03:41] #266 closed

[2020-10-12 16:59] toffer opened #270 "Setting imageJolokiaSecret does not enable auth"
**What did you do?**
I configured `imageJolokiaSecret`, but Jolokia started up without auth.

This issue was previously reported in #211, but it was closed before confirming whether or not this was really a problem. I can confirm that this is a bug in need of fixing.

Secret
[code]

CassandraCluster
[code]
**What did you expect to see?**

I expected to see Cassandra start up with this jvm option:

[2020-10-12 17:52] toffer opened #271 "Define additional env vars and/or volume mounts on bootstrap and cassandra containers"
## Feature Request

**Is your feature request related to a problem? Please describe.**

By finalizing configuration in a bootstrap container, CassKop offers the user a great deal of power and flexibility to modify the Cassandra configuration before starting up the cassandra container. I really appreciate this feature.

However, some kinds of modifications would be much simpler if we had the abilit

[2020-10-13 07:49] ThaSami opened #272 "no matches for kind "CassandraBackup" in version "db.orange.com/v1alpha1""
## Question

**What did you do?**
applying
https://orange-opensource.github.io/casskop/docs/5_operations/3_5_backup_restore

**What did you expect to see?**
The resource to work

**What did you see instead? Under which circumstances?**
no matches for kind "CassandraBackup" in version "db.orange.com/v1alpha1"

**Environment**
* casskop version:
cassandra-operator-0.5.6

* Kubernetes version informa

[2020-10-13 09:00] fdehay commented on #272
hello @ThaSami , the backup functionnalities are not yet merged, it should be anytime today.
It comes with Version 1.0.0.
You are testing 0.5.6
Sorry there is a little time delay betwwen the documentation and the code.
Regarding the documentation, the backup will not work with local storage, only gcp or s3.
I will tell you when you can get v1.0.0

[2020-10-13 09:01] fdehay commented on #272
You can see the PR/ https://github.com/Orange-OpenSource/casskop/pull/269

[2020-10-13 11:38] ThaSami commented on #272
@fdehay Thanks for answering.
would deleting the old operator cause any issues to Cassandra Cluster when upgrading to v1.0.0?

[2020-10-14 02:10] cscetbon commented on #271
I think it's a fair request to allow users to add env vars and volumes to cassandra pods. Now the question is how to make it easy to specify in the crd. Maybe like https://github.com/Orange-OpenSource/casskop/blob/master/deploy/crds/db.orange.com_cassandraclusters_crd.yaml#L334 (I feel that this field should be called sidecarsConfig  instead of sidecarConfigs, wdyt ?), we could a field called cont

[2020-10-14 02:18] cscetbon commented on #270
Correct, that's what should happen at https://github.com/Orange-OpenSource/casskop/blob/master/docker/bootstrap/files/run.sh#L182-L207

Yes, I made that change. The reason is that the configuration is generated by the bootstrap init-container. The cassandra container just uses it so need a few if not no variables. I think even https://github.com/Orange-OpenSource/casskop/blob/master/pkg/controller

[2020-10-14 13:15] toffer commented on #270
In the case of JOLOKIA_USER and JOLOKIA_PASSWORD, it would definitely be helpful to have the env vars set in both the bootstrap container and in the cassandra container. As discussed above, the bootstrap container needs the env vars so that it can update the jolokia jvm option in `run.sh`.

But, the JOLOKIA env vars are also helpful in the cassandra container. For example, the `readiness-probe.sh`

[2020-10-14 13:16] toffer commented on #270
If you like, I can put together a PR that moves where the JOLOKIA env vars get added, so that the addition happens in `bootstrapContainerEnvVar()`. That way, the JOLOKIA env vars will be present on both the bootstrap and cassandra containers.

And, I can update `readiness-probe.sh` as above to read the credentials from the env vars and use them.

Let me know if you'd like me to proceed.

[2020-10-14 13:25] toffer commented on #271
Yes, that's a good question! Let me think about that for a bit.

[2020-10-14 13:26] cscetbon commented on #270
@toffer yeah I forgot about the readiness probe that uses those variables.

Wwhat you mean ? it already uses env vars as shown in the script you pasted

[2020-10-14 13:45] toffer commented on #270
The current version doesn't use those env vars.

https://github.com/Orange-OpenSource/casskop/blob/master/docker/bootstrap/files/readiness-probe.sh#L17-L24

I was suggesting that I would update the current version of readiness-probe.sh to work like the example I pasted above.

[2020-10-14 13:47] cscetbon commented on #270
Oh I see, I thought it did. Then 👍

[2020-10-15 12:50] fdehay commented on #272
Hi @ThaSami, we have released V1 so you can change the image, no problem on the operator side.

[2020-10-16 15:25] ThaSami commented on #272
Thanks @fdehay
any plans to support local storage soon? as it is a very expensive process to take backups to the cloud both on bandwidth/cost

[2020-10-16 22:49] cscetbon commented on #272
@ThaSami you can already use an s3 provider on your local cluster similar to Minio.

[2020-10-17 08:01] ThaSami commented on #272
Cool, thank you.

[2020-10-17 08:01] #272 closed

[2020-10-19 06:07] drkhosla commented on #272
I am using CentOS 8.2 and Kubernetes 1.19.3. While installing Casskop 1.0.0, I give following commands.

kubectl apply -f https://raw.githubusercontent.com/OrangeOpenSource/casskop/master/deploy/crds/db.orange.com_cassandraclusters_crd.yaml
helm install casskop --namespace=cassandra orange-incubator/cassandra-operator

Casskop pod give error CrashLoopBackOff and log show alternating two errors
tim

[2020-10-19 14:12] cscetbon commented on #272
Sorry @drkhosla there are 2 news CRDs to install along that one and we need to add them to the documentation. You need to install all CRDS in https://github.com/Orange-OpenSource/casskop/tree/v1.0.0-release/deploy/crds/ (not the subdirectory)

[2020-10-20 06:35] drkhosla commented on #272
Thanks now it is working after adding two other crds of backup and restore..

[2020-10-20 21:36] toffer commented on #271
I agree that any additional env var or volume mount should be merged and and should either overwrite the default configuration, or be added as an additional env var or volume mount.

All in all, I'm not sure how big of a change to the CRD you would be interested in. If you're willing to define new top-level fields, I'd probably favor separate, explicit naming like `bootstrapContainerConfig` and `c

[2020-10-21 02:25] cscetbon commented on #271
I'm not a fan of having more parameters prefixed with cassandra and bootstrap. So we could have a list of containers where we add the configuration with the name of each container (which you're not in favor of, I read it 😬), `cassandra` or `bootstrap`, or we could move all bootstrap and cassandra parameters under their own configuration like. They would just be of type container
[code]

[2020-10-21 05:36] toffer commented on #271
Ha! I can see that!

My concern is that a list of `containers` feels broad and open-ended, but then we restrict it to just `bootstrap` and `cassandra` containers, since those are the only containers allowed. Well, except for sidecars, but they have their own configs. My worry is that it wouldn't be clear what would belong under `containers` and what should be defined elsewhere, and what wouldn't b

[2020-10-22 01:41] cscetbon commented on #271
Happy to hear others' thought and proposals !

Yeah but I don't think those changes would be major. @fdehay thoughts ?

[2020-10-28 15:58] #270 closed

[2020-11-12 05:39] toffer opened #277 "Make separate liveness/readiness probes possible"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I'd like to make it possible to have different scripts for the liveness and readiness probes. As of #234, the `LivenessProbe` command in the cassandra container `PodTemplateSpec` is hard-coded to point to `/etc/readiness-probe.sh`, so there's no way to have separate scripts.

**Describe the solution you'd like

[2020-11-17 01:55] #277 closed

[2020-12-24 12:32] jemantheiy opened #288 "Invalid spec.container.image invalid image required"
## Bug Report

Version 1.0.1 of chart
Cassandra 3.11

Stood up the operator without a problem.  Using hostPath storage class on the cluster that is Kubernetes 1.15 version.

Using the example v1 config map and the sample cluster except I define a topology with racks.  I have labels on all my k8s nodes and specify the rack topology in my cluster config.

When I deploy the cluster, I get the statefu

[2020-12-24 21:30] cscetbon commented on #288
Hey @jemantheiy, please provide the complete list  (GitHub links or gist) to the files you used. Showing what it creates in your kubernetes cluster would also help. (kubectl get cassandracluster xxx -o yaml, kubectl get statefulset xxx -o yaml, etc..)

[2020-12-24 21:31] #249 closed

[2020-12-24 21:32] cscetbon commented on #169
we've done it in a couple of places and will do it when changes are needed

[2020-12-24 21:32] #169 closed

[2020-12-24 21:32] #89 closed

[2020-12-24 21:32] #84 closed

[2020-12-24 21:33] cscetbon commented on #132
we've removed any reference to helm2 and use only helm3

[2020-12-24 21:33] #132 closed

[2021-01-03 11:47] jemantheiy commented on #288
update: working on getting it, tried 1.0.2 and same results.

[2021-01-22 03:50] tengzhuofei opened #292 "Delete the crd problem of a cluster under 2 namespace In 2 clusters"
## Bug Report
    I started 2 sets of cassandra clusters, but when I delete the crd of cassandraclusters.db.orange.com under one namespace, the pod under the other namespace is deleted.
**Environment**
* casskop version: 0.5.2

* go version: 1.13.4

* Kubernetes version information:

* Kubernetes cluster kind: v1.15.6

* Cassandra version: 3.11.6

[2021-01-22 10:15] fdehay commented on #292
hello @tengzhuofei,
It is normal behaviour: CRDs are clusterwide, if you delete the CRD itself, all cassandraclusters will be deleted on the K8S cluster regardless of the namespaces
Also, please use latest casskop version if possible
Regards

[2021-01-28 07:11] ajoskowski commented on #159
Any updates here?

[2021-02-02 13:22] #292 closed

[2021-02-02 14:05] fdehay commented on #271
Well now that backup & restore is out of the way we can come back to this issue.
But @toffer would you still be interested or more focused on k8ssandra?

[2021-02-02 14:53] fdehay commented on #125
Normal way is to remove the old release and reinstall the new one. Seems enough

[2021-02-02 14:53] #125 closed

[2021-02-08 19:49] zachlipp opened #299 "Enable cassandraBackups to create s3 buckets if needed"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I'm using a `CassandraBackup` that backs up to a `minio` s3 server within a cluster. If it's the first time this backup operation is performed, the bucket does not exist and the backup fails.

**Describe the solution you'd like to see**
I'd like `CassandraBackupSpec` to add an optional field (e.g. `createMissin

[2021-02-08 23:20] cscetbon commented on #299
Hey @zachlipp, why not, do you feel you could provide a small PR with that change ? It shouldn't be too hard.

[2021-02-08 23:46] zachlipp commented on #299
Awesome. Yeah, I'll take care of it.

[2021-02-16 06:40] SuhailRahman opened #300 "Jolokia Authentication not working"
## Bug Report

**What did you do?**
I followed the steps on the orange casskop website to create a Jolokia-auth secret and added the statements in the cassandracluster.yaml. As shown below.

CasandraCluster
[code]

Jolokia Secret File
[code]

`$kubectl get po`
[code]

[code]

[code]

**What did you expect to see?**
On running the command inside cassandra-demo-dc1-rack1-0 pod `cqlsh -u suhail -p pa

[2021-02-17 00:02] cscetbon commented on #288
@jemantheiy any news ? I would vote to close this issue if you don't have a way to reproduce it.

[2021-02-17 00:13] cscetbon commented on #300
@SuhailRahman You're confounding JMX authentication and Cassandra authentication. Those are 2 different things. If you want to authenticate with Cassandra you need to overwrite the default configuration file using a ConfigMap and update https://github.com/Orange-OpenSource/casskop/blob/master/docker/bootstrap/files/cassandra.yaml#L92-L110. Then it'll use cassandra/cassandra login/password by defau

[2021-02-17 00:14] cscetbon commented on #299
@zachlipp do you need any guidance ?

[2021-02-17 00:19] cscetbon commented on #188
I think this issue has been fixed

[2021-02-17 00:19] #188 closed

[2021-02-17 14:31] zachlipp commented on #299
@cscetbon I haven't quite started; I'll get to it in the next few days

[2021-02-18 01:57] ajaybhat commented on #300
@cscetbon is there a reason why CassKop doesn't run any cqlsh statements? Would you be interested in a PR where Casskop supports the creation of custom users after Cassandra is started?

[2021-02-21 16:53] cscetbon opened #301 "Time between native protocol is enabled and node is started matters"
## Bug Report

When a node is live it's considered as ready and the next node is started, however the bootstrap of the next node will fail cause native protocol is not enable yet.

**What did you do?**
Create a new cluster with 2 nodes and check if nodes see each other or not. It happens that they belong to different rings.

**What did you expect to see?**
the bootstrap image tries to access the n

[2021-02-23 18:45] cscetbon commented on #300
@ajaybhat yes, that was a decision that was made when we started to avoid any interaction with the database as long as possible. Avoid any dependency to cql and only interact with Jolokia that we set up. If we wanted to add the creation of users or anything else, we would add a sidecar in order to do that. Right now it's down as an operation on the side by the users of the Cluster database, when C

[2021-02-25 14:36] #301 closed

[2021-02-25 14:36] cscetbon commented on #300
Fixed by #302

[2021-02-25 14:36] #300 closed

[2021-02-25 14:37] #288 closed

[2021-02-27 11:49] SuhailRahman opened #304 "Backup Failing"
## Bug Report

**What did you do?**
I was trying out and Backup and restore operation. I deployed Cassandra clusters as mentioned below. Then I created a backup secret and backup file to check the backup and restore operation.

Cassandra cluster file
[code]
[code]
Secret file and backup file
[code]

I executed this command to create 'k1' keyspace with table 'standard' 20000 rows of data, which was

[2021-03-01 04:52] cscetbon commented on #304
@SuhailRahman you shouldn't expect the key space to disappear from the s3 storage. It should only disappear from the corresponding manifest file. I wouldn't try to schedule backup until you're sure they work as expected. I'm surprised by the fact that says it can't upload many of the files. Please when you test it, check the logs on the backrest sidecar of each node + the log of the casskop pod. I

[2021-03-08 04:02] SuhailRahman commented on #304
Backrest SideCar logs
[code]
Cassandra Operator Logs
[code]

[2021-03-08 19:12] smiklosovic commented on #304
Hi @SuhailRahman , do you _really_ use AWS S3? This problem I saw when somebody was using Oracle S3, check this https://github.com/instaclustr/esop/issues/26

[2021-03-09 04:23] SuhailRahman commented on #304
Hi @smiklosovic, we use Dell EMC ECS storage which is compatible with S3 storage protocol.

[2021-03-09 11:47] smiklosovic commented on #304
yeah in priciple it is but you see it differs in things like these, I think we are hitting the very same issue as that guy with IBM cloud, I am the author of Esop / Icarus which is incorporated into this operator and I work very closely with @cscetbon so no worries you are covered here, we are on it.

Since I do not have an access to Dell EMC ECS storage as you do, what I will do here is that I wi

[2021-03-09 12:26] SuhailRahman commented on #304
Sounds great!!

[2021-03-09 16:02] smiklosovic commented on #304
Please try this image gcr.io/cassandra-operator/instaclustr-icarus:1.0.10-SNAPSHOT

[2021-03-09 16:59] SuhailRahman commented on #304
Still getting Backup failed.
[code]

[2021-03-09 17:28] smiklosovic commented on #304
Ah my bad, sorry, I forgot to change it at one more place :)

[2021-03-09 17:39] SuhailRahman commented on #304
No worries, are the changes made to the same image?

[2021-03-09 17:40] smiklosovic commented on #304
please try again, it is uploaded under same tag so be sure that such already downloaded image to local machines is downloaded  indeed again so image pull policy should be "Always", to be sure and to double check, image id (docker images output) should be bc27dd05ab93

[2021-03-10 07:25] SuhailRahman commented on #304
It's working perfectly, thank you so much!!
I had another issue, this is regarding CassandraRestore. I deleted one row from a table and tried to restore it and it was returning output as failing.
[code]
This error is similar to that of Cassandra backup.

[2021-03-10 09:08] smiklosovic commented on #304
Would you please look into Icarus' logs? It is quite hard to guess what is wrong with that just by mere looking at this ... no idea

[2021-03-10 13:56] SuhailRahman commented on #304
I created a new bucket `cassandra-new-bucket` and deployed a new Cassandra cluster as given below.
[code]
restore.yaml
[code]
[code]

[2021-03-10 14:25] smiklosovic commented on #304
There is an error on storage side, check this:

[code]

For some reason the download is returning 500 and this goes from Dell storage, I do not think I can do anything about this as e.g. AWS S3 storage just works fine ...

[2021-03-10 14:32] smiklosovic commented on #304
Would you mind to use AWS S3 bucket to verify it indeed works against it? Then we would know that downloading for Dell case is broken.

[2021-03-10 14:38] smiklosovic commented on #304
Is there any specific requirement what Java S3 library Dell storage is compatible with? Check the docs maybe?

[2021-03-10 17:25] SuhailRahman commented on #299
Hi @cscetbon, I'm interested in making the changes, can you please guide me in doing so.

[2021-03-10 18:45] cscetbon commented on #299
@SuhailRahman It should be as simple as adding the parameter mentioned to https://github.com/Orange-OpenSource/casskop/blob/e5f169582b5794493c1d431658236f0cc6c1ae9b/pkg/backrest/backrest.go#L105-L116 as you can see at https://github.com/instaclustr/instaclustr-icarus-go-client/blob/1f9f5e201fe23f965a92a2b3215f112c1edff16e/pkg/instaclustr_icarus/model_backup_operation_request.go#L43

[2021-03-11 07:47] SuhailRahman commented on #299
I tried it out it works, but I'm observing that first-time backup fails and creates the bucket, the second time onwards backup works completely fine.

[2021-03-11 16:05] smiklosovic commented on #299
Can you please tell me what exactly fails? I am little bit lost here.

What I can do is to move this check / creation to coordinator (an Icarus instance contacted by operator as first when it is a global request) instead of having each individual Icarus doing the check but I am not sure if I am fixing the right thing here.

[2021-03-11 16:25] SuhailRahman commented on #304
@smiklosovic I validated restore operation in AWS S3 storage, it worked. I deleted a row from a table and it restored that row.

Then I tried deleting the table, I observed that restore was failing.
[code]

I wanted to know what is limitations of the restore operation like does it only restore rows of a table?

[2021-03-11 16:35] smiklosovic commented on #299
Please check this one and let me know, it seems good here

gcr.io/cassandra-operator/instaclustr-icarus:1.0.10-SNAPSHOT-2

[2021-03-11 18:15] smiklosovic commented on #304
yes, you can not restore a table which you deleted, restoring a table you deleted would mean that i would have to create that table and that is not so simple as it might seem at first glance, so you are left for now with creating that table yourself, there is schema uploaded as well along data to bucket if you check closely.

[2021-03-12 04:49] SuhailRahman commented on #159
I usually go follow the steps in this [link]https://computingforgeeks.com/how-to-force-delete-a-kubernetes-namespace/ to forcefully delete the namespace when it is stuck at terminating state. Hope this is useful.

[2021-03-12 11:52] smiklosovic commented on #299
@SuhailRahman does my latest comment fix your issue?

[2021-03-12 11:56] SuhailRahman commented on #299
@smiklosovic I haven't tried it out, I'm little busy in another work. I'll try this tomorrow and let you know.

[2021-03-13 14:50] SuhailRahman commented on #299
I tried it out and it works perfectly, thanks for the help!!

[2021-03-13 15:20] SuhailRahman commented on #304
I'm interested in adding the restoring table feature, can you please guide me as to what changes I have to make to get this desired functionality.

[2021-03-13 20:39] smiklosovic commented on #299
I have pushed that change I did to Icarus' main brain but it is not released yet. You are free to use that image I pushed until then.

[2021-03-13 20:40] smiklosovic commented on #304
I ll get back to you in few days.

[2021-03-15 17:10] armingerten opened #309 "Unable to deploy CassandraCluster if PodSecurityPolicy prevents fsGroup 1"
## Bug Report

**What did you do?**
I deployed an instance of `cassandraclusters.db.orange.com` while having a `PodSecurityPolicy` that prevents `fsGroup`s < 1000.

Relevant section of the `PodSecurityPolicy`:
[code]

**What did you expect to see?**
The `StatefulSet` created by the operator should start-up.

**What did you see instead? Under which circumstances?**
Pod's within the `StatefulSet` we

[2021-03-22 19:52] smiklosovic commented on #304
Hi @SuhailRahman, I was on a leave last week so I could not get back to you on this promptly. I do not want to polute this ticket with our discussion about the feature you want, I created this discussion for that purpose https://github.com/instaclustr/esop/discussions/50

[2021-03-23 13:58] an-tex opened #310 "Insecure flag for CassandraBackup"
## Feature Request

**Is your feature request related to a problem? Please describe.**

When using a self-deployed S3 solution like minio the use case arises for using insecure HTTP connections. This currently can't be configured.

**Describe the solution you'd like to see**
https://github.com/instaclustr/icarus allows setting an "insecure: true" flag. This flag could be included in the CassandraB

[2021-03-24 12:54] cscetbon commented on #310
@an-tex what about providing a PR ? The change should be minimal, at the CRD, in the controller and a unit test to confirm it’s taken into account. That should be a parameter on both the backup and restore objects.

[2021-03-25 10:43] an-tex commented on #310
Thanks for the directions @cscetbon . I've never done anything with go but I'll give it a shot :)

[2021-03-25 12:46] an-tex commented on #310
Waiting for https://github.com/instaclustr/instaclustr-icarus-go-client/issues/3

[2021-03-29 06:26] SuhailRahman opened #311 "Backup not getting initiated when cassandra clusters is deployed in different namespace than casskop operator"
## Type of question

**About general context and help around casskop ?**

## Question

**What did you do?**
I migrated the operator from namespace-scoped Operator to a cluster-scoped Operator. I deployed the casskop operator under the namespace `cassandra-operator-ns` and I deployed Cassandra Clusters under the namespace `cassandra-ns`, as shown below.
[code]
[code]
I created a backup operation fo

[2021-03-30 02:33] cscetbon commented on #311
@SuhailRahman you have some DNS or network policies issues as far as I can tell
[code]

The last log shows that it tried to do a backup but it failed to post the query to the backup sidecar

[2021-03-30 02:34] cscetbon commented on #309
@armingerten thanks for the report. Would you mind creating a PR ? I can guide you if needed.

[2021-03-30 03:38] SuhailRahman commented on #311
@cscetbon This works completely fine when both Cassandra clusters and the casskop operator are in same namespace.

[2021-03-31 23:15] cscetbon commented on #311
@SuhailRahman yeah by default casskop watches its own namespace. You need to update `WATCH_NAMESPACE` in order to get it to look at another namespace. https://github.com/Orange-OpenSource/casskop/blob/e3a6b29ff9223d99f0eb6d39cb5fc34ff96ed5b5/helm/cassandra-operator/templates/deployment.yaml#L52-L55

[2021-03-31 23:20] cscetbon opened #312 "Ensure non existing datacenter specified in backup doesn't make casskop fails"
## Bug Report
When non existing DC is specified casskop crashes with a kernel panic. Let's fix it.

[code]

Also specifying a list of datacenters (comma/space separated list) should not prevent casskop from finding a coordinator where to kick off the backup.

[2021-04-01 03:09] SuhailRahman commented on #311
I have made those changes. Casskop is able to bring up pods in different namespace but there is a problem when backup operation is triggered.

[2021-04-02 03:26] cscetbon commented on #311
What is the problem ? It should see the CassandraBackup and CassandraRestore objects and trigger operations.

[2021-04-09 10:50] armingerten commented on #309
Sure - I'll create a PR, soon.

I was wondering:

- why is the fsGroup set by default (rather than leaving it empty)?
- why is the default value `1`? What do you think about using a default value > 1000 (e.g. `2000`) to avoid conflicts with system groups?

[2021-04-10 09:18] AkashRajvanshi opened #315 "Expose Cassandra to NodePort!!"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**

## Question

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

[2021-04-11 02:57] cscetbon commented on #315
@AkashRajvanshi  CassKop only exposes services using ClusterIPs. We just use routable IPs (through the use of Calico annotations for instance) in order to make the nodes accessible from the outside. See https://github.com/Orange-OpenSource/casskop/blob/f87c8e05c1a2896732fc5f3a174f1eb99e936907/pkg/controller/cassandracluster/generator.go#L94

[2021-04-14 20:13] srteam2020 opened #316 "[BUG] PVC is mistakenly deleted when the controller reads stale `deletionTimestamp` information"
## Bug Report
We find that in a HA k8s cluster, casskop could mistakenly delete the PVC of the cassandra pod after casskop experiencing a restart. After diagnosis and inspection, we find it is caused by potential staleness in some of the apiserver.

More concretely, if casskop receives a stale update event from an apiserver saying "CassandraCluster has non-nil deletion timestamp", the controller w

[2021-04-20 01:56] #309 closed

[2021-04-26 13:26] collinbowers opened #318 "Manually setting fsGroup / runAsUser, causes Cassandra to run as root."
## Bug Report
When manually setting:
`fsGroup`,
`runAsUser`

Cassandra runs as root?

**What did you do?**
`runAsUser: 1001`,
`fsGroup: 1001`

**What did you expect to see?**
Cassandra to come up normally.

**What did you see instead? Under which circumstances?**
`Running Cassandra as root user or group is not recommended - please start Cassandra using a different system user.
If you really want t

[2021-04-27 02:14] cscetbon commented on #316
Hey @srteam2020 really insteresting finding. I've never been able to experience such a behavior but I don't think I've used the HA feature which is part of 1.19 IIRC. If you can provide a PR it'd be great ! Let me know if some help is needed.

[2021-04-27 12:11] #318 closed

[2021-04-27 12:23] cscetbon commented on #299
@SuhailRahman any news on that ? I suppose you need to upgrade the backrest image ?

[2021-04-27 14:09] SuhailRahman commented on #299
@cscetbon are you referring to restoring tables?

[2021-04-28 01:25] cscetbon commented on #304
@smiklosovic @SuhailRahman does it mean we can close this ticket ?

[2021-04-28 01:26] cscetbon commented on #315
Closing it as it's not possible with the current implementation and that answers the question

[2021-04-28 01:26] #315 closed

[2021-04-28 01:28] cscetbon commented on #299
@SuhailRahman no, this ticket only refers to the backup and the option to add. I'm asking what is the current status of that ticket

[2021-04-28 01:28] cscetbon commented on #271
@toffer Are you still interested in that support ?

[2021-04-28 01:30] cscetbon commented on #310
@an-tex It seems that PR has been merged. It might be a good time to get back to it ;)

[2021-04-28 06:34] SuhailRahman commented on #299
You can close this ticket.

[2021-04-28 06:34] SuhailRahman commented on #304
Yes, you can close it.

[2021-04-28 07:32] an-tex commented on #310
Yes but there's not package available, please have a look here https://github.com/instaclustr/instaclustr-icarus-go-client/pull/4#issuecomment-816490030 @cscetbon

[2021-04-28 15:29] SuhailRahman opened #320 "Should system Auth Keyspace be altered for password authenication?"
## Type of question

I was reading an article saying it is a best practice to change `system_auth` keyspace to `class: NetworkTopologyStrategy` when password authentication is enabled. I wanted to understand if there is a need to make these changes for a Cassandra Cluster of 3 racks?

What I have observed from the current `system_auth` keyspace is that the `replication class is set to Simple` and

[2021-04-28 20:35] srteam2020 commented on #316
Hey @cscetbon
Thanks for your confirmation. We will send a PR for this issue soon.

[2021-04-28 20:42] srteam2020 opened #321 "[BUG] Pod disruption budget's MaxPodUnavailable gets changed unexpectedly when reading stale information from apiserver"
## Bug Report
We find that after a restart the controller could accidentally invoke `DeletePodDisruptionBudget` and then `CreatePodDisruptionBudget`, which leads to an unexpected change (decrease) of PDB's MaxPodUnavailable during the process of `ensureCassandraPodDisruptionBudget`. In that case, when the user increases MaxPodUnavailable to force the operator to continue its actions even if there

[2021-04-28 22:39] #304 closed

[2021-04-28 22:40] #299 closed

[2021-05-07 15:00] #316 closed

[2021-05-29 14:54] rogaha commented on #231
@cscetbon can you please elaborate on that?

[2021-05-30 15:17] cscetbon commented on #321
@srteam2020 don't hesitate to send a PR then we can start talking about those changes

[2021-05-30 15:18] cscetbon commented on #320
No changes on the database is done by the operator. If you want to change it, then you need to connect and make those changes or add a post run script on the node where you want to run it and ensure it's idempotent

[2021-05-30 15:18] #320 closed

[2021-05-30 15:23] cscetbon commented on #231
@rogaha cassandra uses the remaining memory for the off heap objects. You usually want to use a small heap to avoid long [STW](https://en.wikipedia.org/wiki/Stop_the_World) caused by garbage collectors, that's why using a 1/4 of the memory has been decided. It was also based on the recommendations made by Datastax, see https://docs.datastax.com/en/dse/6.0/dse-admin/datastax_enterprise/operations/o

[2021-06-02 22:39] #312 closed

[2021-06-09 06:40] SuhailRahman commented on #311
Sorry for the late reply.
Here, I have the Cassandra cluster in namespace `cassandra-ns` and the operator is present in `cassandra-operator-ns`. `http://cassandra-wdc-1-dc1-rack1-0.cassandra-wdc-1` is not reachable for some reason, I wanted to understand what is the significance of `cassandra_seeds`, does it have any role with respect to backup operation, and is `http://cassandra-wdc-1-dc1-rack1-0

[2021-06-10 07:02] SuhailRahman commented on #304
/open

Hi @smiklosovic, is there any change in this image? I'm getting the same error as before:
[code]
Can you look into this please.

[2021-06-10 08:36] smiklosovic commented on #304
Hi @SuhailRahman , what are you backuping into? s3? which exactly? aws, ceph ... what vendor?

[2021-06-10 08:50] SuhailRahman commented on #304
I'm using custom s3, which the dell ECS storage. https://www.delltechnologies.com/en-in/storage/ecs/index.htm#accordion0

[2021-06-10 09:00] smiklosovic commented on #304
Yeah that will be your problem. There is trilion of implementations and I just can not cover them all. What you can do is to update to recent version where there is skipping of refreshment done, read this doc:  https://github.com/instaclustr/esop#skipping-refreshment-of-remote-objects

I ll check which version of image is released as the last one.

[2021-06-10 09:16] SuhailRahman commented on #304
Okay, thanks! I'll have to add a new field in the operator code, `skip-refreshing` right?

[2021-06-10 09:26] smiklosovic commented on #304
You need to use this client: https://github.com/instaclustr/instaclustr-icarus-go-client/commits/master
check the last two commits

The image is pushed under gcr.io/cassandra-operator/instaclustr-icarus:1.1.1

[2021-06-10 11:20] SuhailRahman commented on #304
Thanks!! I'll try this out

[2021-06-11 07:03] SuhailRahman commented on #304
Thanks @smiklosovic, it works perfectly fine!!

[2021-06-14 12:51] chingandy commented on #272
@cscetbon Is it possible to provide an example for how to configure the backup definition with a minio local installation? I have been trying to figure this out for more than two days and still couldn't make it works. Thanks

[2021-06-16 01:23] cscetbon commented on #311
@SuhailRahman seeds are not used specifically for a backup but only for new nodes to join an existing cluster. however nodes need to be reachable between namespaces otherwise it won't do anything.
Do you have some network policies in place and you forgot to open the port used to connect to the backrest container ?

[2021-06-16 01:24] cscetbon commented on #310
@an-tex I'm not sure why you need a package ? CassKop depends on the GitHub repo directly not on any released package, see https://github.com/Orange-OpenSource/casskop/blob/master/go.mod#L17

[2021-06-16 01:25] cscetbon commented on #271
@toffer as I didn't get any response I'm closing it for now

[2021-06-16 01:25] #271 closed

[2021-06-16 01:26] #160 closed

[2021-06-17 23:18] toffer commented on #271
@cscetbon I missed your earlier message. Apologies for not responding. Closing this is totally fine.

While I'm still interested in this topic, we've largely worked around this issue, so it's not crucial for us. And, since no one else has chimed in on this issue, I think it's safe to conclude that it's not a very common concern.

[2021-07-11 22:06] srteam2020 commented on #321
@cscetbon
Thanks for the reply! Yes we are working on a fix for this one.

[2021-07-11 22:18] srteam2020 opened #342 "[BUG] Replica of cassandraCluster gets inconsistent under different reconciliation interleaving"
## Bug Report
The casskop operator has the following logic to invalidate user request which scales down the cluster to 0, and the replica number of the cluster is then determined by the previous cluster state stored in the annotations of the operator instance,

[code]

Here the `oldCRD` refers *last-applied-configuration* for the CRD, which is dumped and stored inside operator's annotation field d

[2021-07-11 22:25] srteam2020 commented on #342
This issue might be hard to reproduce as it will only manifest when the particular interleaving happens (e.g., when the reconcile goroutine runs slow). We are recently building a tool https://github.com/sieve-project/sieve to reliably detect and reproduce bugs like the above one in various k8s controllers. This bug can be automatically reproduced by just a few commands using our tool. Please take

[2021-07-22 08:42] AKamyshnikova opened #345 "Bump operator-sdk version"
## Feature Request

Project development requires usage higher version of operator-sdk and kubernetes.

**Describe the solution you'd like to see**
Update operator-sdk to 0.19.x and go to 1.16, unlocking following updates.

[2021-08-06 22:40] #345 closed

[2021-08-10 17:48] cscetbon commented on #342
@srteam2020 is it something you'd like to work on ?

[2021-08-10 17:49] cscetbon commented on #311
Closing the ticket until there is a way to reproduce the issue.

[2021-08-10 17:49] #311 closed

[2021-08-10 17:50] cscetbon opened #351 "Upgrade to latest operator-sdk"
## Feature Request
Our operator-sdk version is one year old. The goal of this ticket is to upgrade to the latest version.

[2021-08-10 17:50] cscetbon commented on #351
@AKamyshnikova is it something you could work on ?

[2021-08-11 09:15] AKamyshnikova commented on #351
Yes, sure, but I think it will be better to upgrade in series - like to v1.0.0 then to v1.x as some of version have breaking changes. I can make a serious of changes for this in a while.

[2021-08-16 04:33] srteam2020 commented on #342
@cscetbon Thank you for the reply.
We are looking for a clean fix for this problem. I will get back and send a PR if we find a solution.

[2021-09-01 16:19] srteam2020 commented on #321
Sorry for the delay. We sent a fix for this problem here: https://github.com/Orange-OpenSource/casskop/pull/355
It seems that the fix breaks some unit tests. We will try to find a better way to gracefully solve the problem without introducing test failures.

[2021-09-01 16:37] srteam2020 opened #357 "[BUG] Scaling down the Cassandra cluster fails if some particular events are missed by the operator"
## Bug Report

The casskop operator has the following steps to prevent user from removing more than 1 DC at a time,
1. dump last CRD status to its `annotation`  when finish one reconcile
2. get DC size from current CRD status, get old DC size from last CRD status
3. compare DC size with old DC size
4. if DC size is less than old DC size - 1, then user is going to remove more than 1 DC at a time. I

[2021-09-10 03:23] cscetbon commented on #321
@srteam2020 also it must be working for existing clusters. So if it could prevent an existing cluster from working it needs to be activated using a parameter or another non disruptive solution

[2021-09-14 06:51] ajoskowski opened #360 "Readiness probe timeouts for operator should be customizable via values.yaml"
## Feature Request
Hi Guys, we use casskop as Cassandra operator for our deployment stack on Azure.
We encountered on a problem that after upgrade of operator its deployment object cannot be marked as "ready".
There is a workaround: we have to increase "failureThreshold" timeout to value higher than 1s and everything works correctly - we are talking about this value: https://github.com/Orange-Open

[2021-09-14 08:41] fdehay commented on #360
Hi @ajoskowski,
Thanks for using Casskop and reporting your issue.
Orange is scaling down its effort on Casskop so it would be best if you could provide a PR for your request.
Good to know Casskop works on Azure :)

[2021-09-15 09:07] #360 closed

[2021-09-15 12:59] AKamyshnikova opened #364 "Failed update for cassandracluster"
## Bug Report

**What did you do?**
Update casskop operator from v0.5.3 to latest version.
Since v1.0.0. statefulset for CassandraCluster has two containers "cassandra" and "backrest-sidecar".

**What did you expect to see?**
In the setup there are 2 cassandraclusters in one kubernetes cluster with same structure, it is was expected that both got updated.

**What did you see instead? Under which c

[2021-09-16 13:19] AKamyshnikova commented on #364
I did more debugging of this issue today, the error is not on casskop side. ResourceVersion of cassandracluster(which cannot be updated later) was updated externally.

[2021-09-16 13:19] #364 closed

[2021-09-17 11:42] packer136 opened #366 "Cassandra restore on different cluster"
## Type of question

**General context and help around casskop**

## Question

I want to perform a restore on a different, new Kubernetes cluster than backup is prepared. As far as I can see, if you want to create a CassandraRestore object, some CassandraBackup object is required to be referenced from that one. The problem is that
A clear and concise description of the steps you took (or insert a

[2021-09-17 13:51] fdehay commented on #366
Hi @packer136,
Thanks for opening this issue.
Unfortunately, this is not the way Casskop has been designed.
The cassandrarestore object needs a cassandrabackup reference to use its secret and backup location.
At the design time, it seemed logical not to duplicate the information.
If you want, you can open a PR with the changes, adding the options in the crds and making the reference to backup not

[2021-09-24 03:53] srteam2020 opened #369 "[BUG] Casskop refuses to set nodesPerRacks to 0 even after cleaning up cassandra keyspaces"
## Bug Report

We find that sometimes casskop and Cassandra disagrees on the keyspace which prevents us from setting `nodesPerRacks` to 0.

1. Create a CassandraCluster with 3 DC, each DC with 1 rack, and `nodesPerRacks` is set to 1
2. Clean up Cassandra pods by running `kubectl casskop cleanup --pod cassandra-cluster-dc1-rack1-0`. The operator will use Jolokia to communicate with cassandra and is

[2021-09-28 14:33] srteam2020 commented on #369
Hello @cscetbon
Thanks for the reply. Yes let me check whether we can use this test to debug.

[2021-09-28 21:35] srteam2020 opened #370 "[BUG] Casskop fails to clean up PVC and refuses to handle user requests after crash and restart"
## Bug Report

We find that scaling down a single dc rack (by reducing `nodesPerRacks`) might end up in a dirty state (the pod is deleted but the pvc is still there) if the operator crashes in the middle of a reconcile and restarts. The accidental dirty state will also prevent the operator from handling any future user request.

More concretely, when scaling down the dc rack (statefulset), casskop

[2021-10-06 07:06] SuhailRahman opened #372 "Can we test Multi Casskop locally?"
Can we test Multi Casskop locally, if yes is there any documentation on this?

[2021-10-13 23:58] #372 closed

[2021-10-19 16:35] collinbowers opened #373 "CassKop handling of additional local storage"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around casskop ?**

Specific question.

## Question

**What did you do?**

I have a large production Cassandra cluster. The boxes that these nodes run on, have multiple disks. I have reserved 1 disk solely for Cassandra local-storage. Another disk is free and

[2021-10-27 09:59] ibumarskov opened #374 "Casskop incorrectly determine version of image in case if image repository contains custom port"
## Bug Report

If we don't explicitly specify the _serverVersion_ in CR, operator should parse this value from image name. Some deployments can contains proxy for image repository and in this case image name can looks like:
`cassandraImage: '127.0.0.1:44301/tungsten/cassandra:3.11.6'`

In this case operator can't detect version due to incorrect logic and leave _PRODUCT_VERSION_ env variable empty:

[2021-11-01 12:09] AKamyshnikova opened #378 "Backup with file protocol failed if secret is not set"
## Bug Report

**What did you do?**
Use file protocol for backup location without setting secret name.

**What did you expect to see?**
As described in instaclustr README file protocol does not require authentication, so backup should be created successfully.

**What did you see instead? Under which circumstances?**
Backup failed with BackupFailedSecretNotFound

**Environment**
* casskop version:

[2021-11-02 13:39] #357 closed

[2021-11-10 17:10] #374 closed

[2021-11-16 08:49] AKamyshnikova opened #381 "Allow to configure VolumeMount for backrest-sidecar container"
## Feature Request

**Is your feature request related to a problem? Please describe.**
To use "file" protocol for Storage Location for backups we need mount corresponding volume.

**Describe the solution you'd like to see**
In CassandraCluster extend section for BackRestSidecar to pass VolumeMounts.

[2021-12-09 17:57] toha10 opened #384 "Cassandra nodes cannot form a cluster after simultaneous restart"
## Bug Report

**What did you do?**
We have deployed cassandra cluster with 3 nodes in rack1 dc1. Each pod is running on different k8s worker node. We make simultaneous reboot off all 3 k8s workers.

**What did you expect to see?**
All 3 cassandra pods came up and succesefully synced

**What did you see instead? Under which circumstances?**
All 3 cassandra pods started bootstrap process simultaneo

[2021-12-10 13:58] fdehay commented on #384
hello @toha10,
Thanks for using CassKop!
Looking at the issue, it seems to me that a simultaneous restart of all nodes in K8S is not really a production use case.
That's the idea behind racks in Cassandra: you are not supposed to restart all node in all racks at the same time.

So this issue will be ignored on our side. I am sorry but we are running very low in resources on this project and we str

[2021-12-12 02:37] #378 closed

[2021-12-12 02:54] #370 closed

[2021-12-24 13:30] Subetov opened #385 "Kubernetes v1.22+ compatibility"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Helm charts compatibility with kubernetes v1.22+

**Describe the solution you'd like to see**
Need to fix manifest with API versions:
- authorization.k8s.io/v1beta1
- apiextensions.k8s.io/v1beta1
- rbac.authorization.k8s.io/v1beta1

[2021-12-24 15:08] Subetov opened #386 "v2.0.3 INSTALLATION FAILED"
## Bug Report

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
`Error: INSTALLATION FAILED: failed to install CRD crds/db.orange.com_multicasskops.yaml: CustomResourceDefinition.apiextensions.k8s.io "multicasskops.db.orange.com" is invalid: spec.version: Invalid value: "v2": must match the first version in spec.versions`

[2021-12-24 18:06] cscetbon commented on #385
@Subetov there is a pending PR that upgrades the framework used for the operator. I suppose it'll solve this issue. @AKamyshnikova can you confirm ? If not, it'll be better to wait after #376 is approved and merged.

[2021-12-24 18:23] cscetbon commented on #386
@Subetov I can reproduce your issue. Let's wait for #345 to be merged then we can fix this.

[2021-12-27 07:36] AKamyshnikova commented on #385
@cscetbon @Subetov Yes, upgrading operator-sdk unlocks upgrade/compatibility  with kuberentes versions [1]. At this moment PR #376 updates client-go to v0.20.2 version [2]
[1] - https://sdk.operatorframework.io/docs/overview/#kubernetes-version-compatibility
[2] - https://github.com/kubernetes/client-go#compatibility-matrix

[2022-02-02 13:44] #351 closed

[2022-03-01 22:36] #381 closed

[2022-03-08 03:01] cscetbon commented on #384
Yes you should only do a rolling restart if you really want to restart them all. Closing this issue

[2022-03-08 03:01] #384 closed

[2022-03-08 03:11] cscetbon commented on #369
Sorry for the late response, I missed this comment. Nah, the reason dc1 can't scale down is because there is data hosted on that datacenter. During the test I change the network strategy used from SimpleStrategy to NetworkTopologyStrategy excluding dc2 to be able to scale it down. See https://github.com/Orange-OpenSource/casskop/blob/master/test/kuttl/multi-dcs/03-disableReplToDC2.yaml#L8

Do you

[2022-03-11 07:31] kzzalews commented on #385
As #376 was merged and version 2.1.0 of CassKop operator was released two days ago, do we know which versions of K8s it supports right now? Am I right that we've just gained support of K8s 1.22? Is migration of old `CassandraCluster` objects necessary? For sure, I would like to test it, but getting such info from author @AKamyshnikova will be much appreciated :)

[2022-03-11 08:32] AKamyshnikova commented on #385
@kzzalews Sorry, in #376 I was not able to update client-go to v.0.22.0 in the end https://github.com/Orange-OpenSource/casskop/blob/master/go.mod#L103 - the was an issue with unit test.
So current issue is still actual and required separate pull request.
No additional steps are required for an update.

[2022-03-11 13:16] cscetbon commented on #385
Also fyi be careful that the release i did failed on releasing the helm chart. @fdehay is fixing it.

[2022-03-30 12:51] fdehay opened #402 "Move of Casskop repo to https://github.com/cscetbon/casskop"
Dear Casskop user,

Thanks for your interest in Casskop, it has been a pleasure to see this project evolve and reach this point today!

We hope that Casskop will continue to provide as yet unrivalled functionnalities in the deployment of multi-k8s, C* clusters with essential services like backup&restore

As Orange is scaling down its involvment in the project largely due to internal reorganisation